/* body .modal-backdrop {
	background-color: #000;
} */

body .modal-content {
	padding: 3rem;
}
body .modal-header .modal-title {
	font-size: 3rem;
}
body .modal-header button.close span {
	font-size: 6rem;
}
body .modal-body {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
body .modal.fade.show {
	opacity: 1;
}

#viewModel .modal-content .sub-title {
	min-width: 167.23px;
}

.modal-scrollable {
	height: 75vh;
	overflow: overlay;
}

.modal-hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.modal-hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@media (min-width: 1400px) {
	body .modal .modal-dialog {
		max-width: 1200px;
	}
}

@media (max-width: 1400px) {
	body .modal .modal-dialog {
		max-width: 90%;
	}
}

@media (max-width: 768px) {
	.modal-scrollable {
		height: 40vh !important;
	}
}
