.apple_data_row::-webkit-scrollbar {
    display: none;
}

.mobile_menu {
    overflow-y: scroll;
}
.mobile_menu::-webkit-scrollbar {
    display: none;
}

#table_tabs::-webkit-scrollbar {
    display: none;
}

.tips {
    display: inline;
    position: relative;

    .tips_content {
        visibility: hidden;
        background-color: #f8f8f8;
        border: 2px solid #4a5ba1;
        border-radius: 8px;
        padding: 1rem;
        position: absolute;
        left: 150%;
        top: -65%;
        width: fit-content;
    }
    &:hover {
        .tips_content {
            visibility: visible;
            white-space: nowrap;
        }
    }
}

.data_frame {
    //border-radius: 15px;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #d8d8d8;
    box-shadow: 4px 8px 12px #e0e0e0;
}

.blue_select {
    option {
        color: white !important;
    }
}

#searching_result_zone {
    max-height: 200px;
}

#scrolling_zone {
    overflow-x: visible;
    position: relative;
}

#searching_result_zone::-webkit-scrollbar {
    display: none;
}

#padding_zone {
    width: 100%;
    margin-left: 0rem;
    overflow-x: scroll;
}

#searching_result_table {
    th {
        white-space: nowrap;
    }

    thead {
        tr {
            th:nth-child(1) {
                width: 8rem;
                height: 4rem;
                background: transparent;
                position: relative;
                top: auto;
                //margin-left: -8rem;
                text-align: center;
                display: flex;
                justify-content: center;
            }
        }
    }
    tbody {
        tr {
            th:nth-child(1) {
                width: 8rem;
                background: #e5e5e5;
                position: absolute;
                top: auto;
                //margin-left: -8rem;
                text-align: center;
                display: flex;
                justify-content: center;
            }
            td {
                white-space: nowrap;

                height: 47px !important;
            }
        }
    }

    .fixed_header {
        //position: fixed;

        //width: 100%;
    }

    .special_padding {
        padding-top: 41px;
    }
}

#loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.3);
}

.apple_default_white {
    color: rgb(181, 181, 181) !important;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #204d74;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mobile_menu {
    .collapsing {
        transition: height 0.1s ease !important;
    }
}

.item_container {
    width: 100%;

    .box {
        height: 350px;
        background-color: #ffffff;
        border: 1px solid #efefef;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name_container {
        padding: 10px 0px;
        color: #5566a8;
        text-align: center;
    }
    a {
        color: #5566a8;
    }
    a:hover {
        color: #5566a8 !important;
        text-decoration: none !important;
    }

    .rename_button,
    .edit_name_button,
    .delete_button,
    .copy_button {
        cursor: pointer;
    }
}

.first-block {
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    background-color: #4a5ba1;
    border-radius: 15px 0px 0px 0px;
}

.dashboard_box {
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    .inner_padding {
        padding: 15px;
    }
}

.nav-link {
    display: flex !important;
    align-items: center;

    img {
        max-height: 25px;
    }
    .tab_word {
        display: none !important;
        color: #4a5ba1;
    }
    &.active {
        border-bottom: 3px solid #4a5ba1 !important;
        .tab_word {
            display: block !important;
        }
    }
}

.end-block {
    padding: 10px 15px;
    font-weight: bold;
    background-color: #4a5ba1;
    border-radius: 0px 15px 0px 0px;
    i {
        padding: 5px;
        width: 100% !important;
        border-radius: 50%;
        background-color: white;
        color: #4a5ba1;
    }
}

.mobile_preview_button {
    &.preview_selected {
        &.focus {
            background-color: #4a5ba1 !important;
            color: white;
        }
        background-color: #4a5ba1 !important;
        color: white;
    }
}

.editor {
    height: 100%;
    width: 100%;
    ul {
        background-color: transparent !important;
        border-radius: 15px 15px 0px 0px;
    }
    .nav-item {
        .nav-link {
            line-height: calc(20 / 14) !important;
        }
    }

    .show {
        opacity: 1 !important;
    }
    .inner_padding {
        padding: 20px 30px;
    }
    ::marker {
        color: #4a5ba1;
    }
    select {
        background-color: #4a5ba1 !important;
        color: white !important;
        border: none;
        border-radius: 3px;
        option {
            color: white !important;
        }
    }

    .clear_select {
        background-color: #fbfbfb !important;
        color: #808080 !important;
        border: 1px solid #d5d5d5;
        min-height: 34px;
        option {
            color: #4a5ba1 !important;
        }
    }

    .radio_button {
        &.selected {
            background-color: #4a5ba1;
            border: none !important;
            color: white !important;
        }
    }
}

#table_selection_bar {
    a {
        border-radius: 15px 15px 0px 0px;
        padding: 8px 16px 0px 16px;
        margin-right: -4px;
        background-color: #e0e0e0;
        color: #000000;
        &:hover {
            text-decoration: none;
        }
        &.active {
            border-top: 1px solid #4a5ba3;
            background-color: #4a5ba3;
            margin-right: 0px;

            color: #ffffff;
        }
    }
}

#table_tabs {
    max-height: 28vh;
    overflow-y: scroll;
    padding: 0px !important;
}

.img_preview_frame {
    max-height: 50px;
    border: 1px solid #5566a8;
}

.img_preview_frame_2 {
    max-height: 50px;
    border: 1px solid #5566a8;
}

.tab-content {
    height: calc(100% - 45px);
    min-height: 80vh;
    border-radius: 0px 0px 15px 15px;
    .tab-pane {
        height: calc(100% - 45px);
        opacity: 1 !important;
        .inner_padding {
            height: 100%;
            ul {
                height: 100%;
                li {
                    margin: 15px 0px;
                    table {
                        width: 100%;
                        tr {
                            td {
                                padding: 15px 15px 15px 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    #next_button {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px 15px;
    }
    #export_button {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px 15px;
        display: none;
    }
}

.QR_container {
    border: 1px solid #d5d5d5;
    padding: 10px;
    text-align: center;
    height: 100%;
}

.color_ball_add {
    border-radius: 50%;
    min-height: 30px;
    min-width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.color_ball {
    border-radius: 50%;
    min-height: 30px;
    min-width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    &:hover {
        min-height: 40px;
        min-width: 40px;
    }
    &.selected {
        justify-content: center;
        align-items: center;
        min-height: 40px;
        min-width: 40px;
    }
}

.blue_button {
    background-color: #4a5ba1;
    color: white !important;
    border-radius: 3px !important;
    &:focus {
        background-color: #4a5ba1;
        color: white !important;
    }
}

.dark_blue {
    color: #4a5ba1 !important;
    opacity: 1 !important;
}

.theme_box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    min-width: 80px;
    margin: 5px 3px;
}

.checkbox_button {
    width: 100%;

    &.selected {
        background-color: #4a5ba1;
        color: white !important;
    }
}

.no_padding {
    padding: 0px !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid #4a5ba1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    top: 3px;
    bottom: 4px;
    background-color: #4a5ba1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: white;
}

.on {
    visibility: hidden;
    padding-left: 3px;
}
.off {
    padding-left: 8px;
}
input:checked + .slider .on {
    visibility: visible;
}

input:checked + .slider .off {
    display: none;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4a5ba1;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#color_picker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}

.color_picker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}

.mobile_preview_container {
    position: relative !important;
}

.apple_mobile_preview_container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: calc(80vh + 50px);
    .phone {
        width: 100%;
        height: 100%;
        max-width: 351px;
        max-height: 701.1px;
        background-color: #ffffff;
        border-radius: 30px;
        background-image: url("../../../../assets/images/fake_phone.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
        .card_frame {
            position: absolute;
            top: 10%;
            left: 8%;
            padding: 57% 42%;
            &.extra_height {
                padding: 70% 42% !important;
            }
            border-radius: 15px;
            .card_header {
                position: absolute;
                height: 15%;
                width: 100%;
                padding-left: 5px;
                padding-right: 5px;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;

                border-radius: 15px 15px 0px 0px;
                .apple_mobile_logo {
                    max-width: 50px !important;
                    border-radius: 50px;
                }
                .apple_header_text {
                    display: flex;
                    white-space: nowrap;
                    overflow-x: hidden;
                    font-weight: bold !important;
                }
            }
            .card_image {
                position: absolute;
                height: 25%;
                width: 100%;
                top: 15%;
                left: 0;

                .apple_strip_image {
                    max-width: 100% !important;
                    width: 100%;
                    max-height: 100%;
                }
            }
            .title_row {
                position: absolute;
                top: 39%;
                left: 0;
                padding-left: 8px;
                text-align: left;
                width: 100%;
            }
            .data_row {
                position: absolute;
                height: 14%;
                width: 100%;
                top: 40%;
                left: 0;
                text-align: left;
                &.extra_row_top {
                    top: 46% !important;
                }
                .col {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }
                .data_label {
                    font-size: 10px;
                    font-weight: bold !important;
                    display: flex;
                    white-space: nowrap;
                    overflow: auto;
                }
            }
            .data_row_2 {
                position: absolute;
                height: 14%;
                width: 100%;
                top: 52%;
                left: 0;
                &.extra_row_top {
                    top: 58% !important;
                }
                text-align: left;
                .col {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }
                .data_label {
                    font-size: 10px;
                    font-weight: bold !important;
                    display: flex;
                    white-space: nowrap;
                    overflow: auto;
                }
            }
            .qr_code {
                position: absolute;
                height: 33%;
                width: 100%;
                top: 67%;
                left: 0;
                border-radius: 0px 0px 15px 15px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                .qr_container {
                    max-width: 40%;
                    background-color: #ffffff;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    border-radius: 5px;
                    text-align: center;
                    .label {
                        font-size: 10px;
                        color: #808080;
                    }
                }
            }
        }
    }
}

.apple_mobile_back_preview_container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: calc(80vh + 50px);
    .phone {
        width: 100%;
        height: 100%;
        max-width: 351px;
        max-height: 701.1px;
        border-radius: 30px;
        background-image: url("../../../../assets/images/fake_phone.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        position: absolute;
        .card_frame {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            max-height: 75%;
            background-color: #ffffff;
            border-radius: 15px;
            overflow-y: auto;
            font-weight: bold;
            color: #818181;
            text-align: left;
            font-size: 12px;
            .col_1 {
                padding: 1rem 0px;
                margin-left: 1rem;
                margin-right: 1rem;
                border-bottom: 1px solid #d0d0d0;
                .backside_hyperlink {
                    color: #0b79ff;
                }
            }
            .col_2 {
                padding: 1rem 0px;
                margin-left: 1rem;
                margin-right: 1rem;
                border-bottom: 1px solid #d0d0d0;
            }
            .col_3 {
                padding: 1rem 0px;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
}

.google_mobile_preview_container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: calc(80vh + 95px);
    .phone {
        background-image: url("../../../../assets/images/samsung.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: 100% auto;
        max-width: 360px;
        max-height: 760px;
        position: absolute;
        .google_phone_text {
            font-weight: bold !important;
        }
        .card_frame {
            border-radius: 15px;
            background-color: black;
            position: absolute;
            padding: 70% 42%;
            top: 16%;
            left: 8%;
            .card_header {
                position: absolute;
                top: 0;
                left: 0;
                height: 10%;
                width: 100%;

                align-items: center;
                border-radius: 15px 15px 0px 0px;
                text-align: left;
                .google_logo_image {
                    max-width: 30px !important;
                    border-radius: 30px;
                }
            }
            .data_row {
                position: absolute;
                top: 10%;
                left: 0;
                height: 35%;
                width: 100%;
            }
            .qr_code {
                position: absolute;
                top: 45%;
                left: 0;
                height: 30%;
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
                .qr_code_container {
                    border-radius: 8px;
                    max-width: 40%;
                    padding: 0.5rem;
                    background-color: #ffffff;
                    img {
                        max-width: 100% !important;
                    }
                }
            }
            .card_image {
                position: absolute;
                top: 80%;
                left: 0;
                height: 20%;
                width: 100%;
                border-radius: 0px 0px 15px 15px;

                .google_card_image {
                    max-width: 100%;
                    border-radius: 0px 0px 15px 15px;
                }
            }
        }
    }
}

.google_mobile_back_preview_container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: calc(80vh + 95px);
    .phone {
        background-image: url("../../../../assets/images/samsung.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: 100% auto;
        max-width: 360px;
        max-height: 760px;
        position: absolute;
        .backlight {
            position: absolute;
            top: 6%;
            left: 4%;
            height: 92%;
            width: 92%;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 30px;
            .card_frame {
                text-align: left;
                position: absolute;
                bottom: 2.8%;
                width: 100%;
                background-color: #ffffff;
                border-radius: 5px 5px 23px 23px;
                font-size: 14px;
                max-height: 95%;
                overflow-y: auto;
                .header_block {
                    padding: 1rem;
                }
            }
        }
    }
}

#myTable_info {
    display: none;
}

#myTable_filter {
    display: none;
}

#myTable_paginate {
    display: none;
}

#myTable_length {
    display: none;
}

#myTable_wrapper div {
    width: 100%;
}

#member_info {
    display: none;
}

#member_filter {
    display: none;
}

#member_paginate {
    display: none;
}

#member_length {
    display: none;
}

#member_wrapper div {
    width: 100%;
}

.card_preview_frame {
    display: flex;
    flex-direction: column;
    max-height: 350px;
    height: 100%;
    min-width: 220px;
    max-width: 220px;
    width: 100px;
    border-radius: 15px;
    padding: 5px;
}

.background_frame {
    background-color: white;
}

.saw-tooth-vertical {
    background-image:
      /* Top jagged */ linear-gradient(135deg, #ffffff 50%, transparent 50%),
        linear-gradient(225deg, #ffffff 50%, transparent 50%),
        /* Bottom jagged */ linear-gradient(45deg, #ffffff 50%, transparent 50%),
        linear-gradient(-45deg, #ffffff 50%, transparent 50%) !important;
    background-position:
      /* Top jagged */ top left, top left, /* Bottom jagged */ bottom left, bottom left !important;
    background-size: 6px 12px !important;
    background-repeat: repeat-x !important;
}

.mobile_menu {
    background-color: #4a5ba3;
    position: fixed;
    width: 0%;
    height: 100%;
    display: block;
    top: 0;
    visibility: hidden;
    transition: width 1s ease-in-out;
    z-index: 10000;

    &.show {
        visibility: visible;
        transition: width 1s ease-in-out;

        width: 100%;
        a {
            font-size: 2em;
            color: white;
            text-decoration: none;
        }
    }
    .menu_button {
        border: none;
        font-size: 2.5rem;
        color: white;
        background-color: transparent;
    }
}

#card_member_table {
    width: 100%;
}
#card_member_table_content {
    overflow-y: scroll;
    max-height: 60vh;
}

@keyframes mobile_menu_animation {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}
.dropdown-menu-controller {
    display: none;
}

@media only screen and (max-width: 880px) {
    .dropdown-menu-controller {
        display: block;

        i {
            color: #4a5ba3 !important;
        }
    }
}

@media only screen and (max-width: 530px) {
    .dropdown-menu-controller {
        left: unset !important;
        right: 30px !important;
        top: 0 !important;
        height: 76px !important;
        width: 5rem !important;
        i {
            padding-top: 25px !important;
        }
    }
}
