
#section-1 {
  /* background-image: url(../../assets/img/about/aboutus_bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

#section-2 {
  background-color: #ebe9f7;
}

#section-3 {
  background-image: url(../../assets/img/about/section-3_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.vision-section-3-title {
  color: #fff;
  font-size: 1.6rem;
}

.p-5 {
  padding: 2rem!important;
}

.vision-travel-bg {
  background-image: url(../../assets/img/about/travel_bg.png);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: 0 2.4rem;
}

.vision-travel-text-1-offset {
  margin-top: 2rem;
}

.vision-travel-text-2-offset {
  margin-top: 1.5rem;
}

.vision-travel-text-3-offset {
  margin-top: 2rem;
}

.vision-travel-block {
  margin: 5px 10px;
  padding: 15px 15px;
  background-color: #fff;
  color: #7798ce;
}

.vision-travel-block > h4 {
  margin: 0;
}

.vision-travel-block-adjust {
  margin-left: -5px;
}

.tutor-padding {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2rem;
}

.vision-album-padding {
  padding: 0 6px 0 1px;
}

header.masthead {
  background: transparent;
  padding-top: calc(0.5rem - 72px);
  padding-bottom: 1rem;
}

/* added css at 2020-02-14 */
.brighten img {
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  }

  .brighten img:hover {
  -webkit-filter: brightness(110%);
  }

  .changeText {
    
    -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
    transition: color 1s; /* For modern browsers */
  }
  .changeText:hover {
      color: #794598;
      text-decoration: none;
  }
  .changeBoxText h4{
    
    -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
    transition: color 1s; /* For modern browsers */
  }
  .changeBoxText:hover h4{
      color: #794598;
      text-decoration: none;
  }

  .grow {
    transition: 0.5s ease;
    }

    .grow h4{
      transition: 0.5s ease;
      }
    
    .grow:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: perspective(1px)scale(1.1);
    transition: 0.5s ease;
    }
    .grow:hover h4{
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: perspective(1px)scale(1.1);
      transition: 0.5s ease;
      }

      .grow5 {
        transition: 0.5s ease;
      }  
      .grow5:hover{
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: perspective(1px)scale(1.05);
        transition: 0.5s ease;
        }
/* end added css at 2020-02-14 */