@import "courtage";
@import 'mixins/css3-mixins';

@font-face {
    font-family: "Noto Sans HK Regular";
    src: local(NotoSansHK-Regular),
    url(../fonts/NotoSansHK-Regular.otf) format("opentype");
}

@font-face {
    font-family: "Noto Sans HK Medium";
    src: local(NotoSansHK-Medium),
    url(../fonts/NotoSansHK-Medium.otf) format("opentype");
}

@font-face {
    font-family: "Noto Sans HK Bold";
    src: local(NotoSansHK-Bold),
    url(../fonts/NotoSansHK-Bold.otf) format("opentype");
}


html, body {
    height: 100%;
    width: 100%;
    font-family: "Noto Sans HK Regular";
}

.block-heading {
    padding-top: 40px;
    letter-spacing: .2em;
    .text-info {
        color: $main-color;
        font-size: 2rem;
        //padding-bottom: 10px;
        text-align: left;
        border-bottom: 1px solid $main-color;
        //background-image: url(../img/graphic.png);
        //background-repeat: no-repeat;
        //background-position-x: left;
        //background-position-y: bottom;
        //margin-bottom: 30px;
    }
    .section-text-info {
        color: $main-color;
        font-size: 1.8rem;
        text-align: left;
        border-bottom: 1px solid $main-color;
    }
    .text-info-no-underline {
        color: $main-color;
        font-size: 1.5rem;
        padding-bottom: 10px;
        text-align: center;
        margin-bottom: 30px;
    }
}

.main-content {
    letter-spacing: 2px;

    .subtitle {
        color: $main-color;
        font-size: 1.1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .point-list {
        list-style-type: dist;
        padding-left: 1em;
    }
}

.highlight {
    color: #29abe2;
    display: inline;
}

.input-label {
    color: $main-color;
    margin-bottom: 0;
}

.form-control {
    border: none;
    background-color: #f0f0f0;
}

.hover-enabled {
    &:hover {
        cursor: pointer
    }
}

#rate-inquiry {
    background-color: #0fbab8;
    writing-mode: vertical-rl;
    letter-spacing: .5rem;
    font-size: .9rem;
    padding: 30px 5px;
    @include border-radius(15px 0 0 15px);
    position: fixed;
    top: 100px;
    right: 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
