@import 'courtage';
//======= Navigation =======
.navigation-section {
    .brand-name {
        font-family: "Noto Sans HK Bold";
        color: $main-color;
        font-size: 1.5rem;
    }
    .navbar-nav {
        .nav-item {
            padding-right: 0;
            padding-left: .75rem;
            a {
                &.active {
                    color: $main-color!important;
                }
                &:hover {
                    color: $main-color;
                }
            }
            &.dropdown {
                line-height: 40px;
                a {
                    color: rgba(0, 0, 0, .5);
                    &:hover {
                        color: $main-color;
                        text-decoration: none;
                    }
                }
                .dropdown-menu {
                    min-width: 15rem;
                    border: none;
                    li {
                        padding-left: 0;
                        a {
                            padding-left: .75rem;
                            display: inline-block;
                            width: 100%;
                            &:hover {
                                background-color: $main-color;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

#navbar {
    background-color: #e6e6e6;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 16;
    width: 100%;
    .dropdown-menu {
        background-color: #e6e6e6;
        padding-left: 15px;
    }
}

@media screen and (max-width: 576px) {
    .navigation-section {
        .brand-name {
            font-size: 1rem;
        }
    }
}