@import 'courtage';

.sidebar {
  color: #fff;
  margin-bottom: 40px;
  .sidebar-block {
    min-height: 700px;
    background-color: #e5e6eb;
  }
  .active {
    background-color: $main-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .sidebar-title {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #999;
    border: 1px solid #fff;
  }
  .sidebar-items {
    font-size: 1rem;
    text-align: center;
    background-color: #999;
    border: 1px solid #fff;
    a {
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: #fff;
      text-decoration: none;
      display: block;
      width: 100%;
    }
    //&:hover {
    //  background-color: $main-color;
    //}
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    .sidebar-block {
      min-height: unset;
    }
  }
}