#header-bar {
  background-color: #EF4130;
  color: #ffffff;
}

#navigation {
  background-color: #e6e6e6;
  color: #797979;
}

.menu .item.active {
  background-color: #e6e6e6;
  color: #797979;
}
.menu .item {
  background-color: #f2f2f2;
  color: #797979;
}

#contact {
  background-color: #ffffff;
  color: #333333;
}