.modal-popup .modal-title {
  background-color: #ef4130;
}

.modal-popup .modal-body .label {
  color: #797979;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b3b3b3 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b3b3b3 !important;
}