#section-1 .login-form-2 .btnSubmit:hover,
#section-1 .login-form-2 .btnSubmit {
	background-color: #4a5ba3;
	padding: 10px 20px;
	width: 180px;
	font-size: 2rem;
	font-weight: 400;
}

#section-1 .login-form-2 .btnSubmit:hover {
	opacity: 0.5;
}

#section-1 #form_reg .title {
	padding-bottom: 0;
	color: #4c5da4;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 400;
}

#section-1 #form_reg .subtitle {
	padding-bottom: 0;
	color: #2293c4;
	text-transform: uppercase;
	font-size: 2rem;
	padding-bottom: 2rem;
}

#section-1 input {
	padding: 6px 20px;
	height: 45px;
}

#section-1 .logo-bottom-image {
	width: 100%;
	padding-bottom: 3rem;
}

#section-1 .vl {
	border-color: #243267;
	left: initial !important;
	right: 0 !important;
}

#section-1 .content {
	display: flex;
	justify-content: center;
	align-items: center;
}

#section-1 .forgot-password {
	color: #4c5da4;
}

#section-1 .forgot-password a {
	color: #2293c4;
}

body input,
body .btn {
	border-radius: 25px !important;
}

body .o2o-c3c.navbar {
	height: 72px;
}
body .o2o-c3c.navbar .navbar-inner .navbar-container {
	padding: 0;
}

body .o2o-c3c.navbar .navbar-brand {
	padding-left: 38px !important;
	height: auto;
}

body .o2o-c3c.navbar .navbar-brand small img {
	height: 72px;
	width: 152px;
}

.o2o-c3c.navbar .navbar-header.pull-left {
	padding-top: 0;
	width: 234px;
}

body .o2o-c3c.navbar .navbar-container .sidebar-collapse i {
	color: #333;
}

.o2o-c3c.navbar #navbar-app-name,
.o2o-c3c.main-admincontent .page-title {
	padding-left: 0;
	left: 5rem;
	color: #333;
	text-transform: capitalize;
	text-align: left;
	font-weight: 900 !important;
	font-size: 2em;
}

.o2o-c3c.navbar .navbar-inner {
	background-color: #f8f9fe;
}

.o2o-c3c.navbar
	.navbar-inner
	.navbar-header
	.navbar-account
	.account-area
	.login-area
	section
	h2
	span {
	color: #4a5ba3;
}

.o2o-c3c.navbar .profile {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2rem;
}

body:before {
	background-color: #f8f9fe;
}

.o2o-c3c.main-admincontent .page-body {
	background: #f8f9fe;
}
body .o2o-c3c.main-admincontent .page-sidebar {
	left: 0 !important;
}
body .o2o-c3c.main-admincontent .page-sidebar:before {
	background-color: #ffffff;
	left: 0 !important;
}

body .o2o-c3c.main-admincontent .page-sidebar .sidebar-menu a {
	height: 70px;
	line-height: 68px;
	left: 0;
	margin-right: 5px;
}

.o2o-c3c.main-admincontent .page-sidebar .sidebar-menu li.active a {
	border-right: 5px solid #4a5ba3;
}
.o2o-c3c.main-admincontent .page-sidebar .sidebar-menu li.active i {
	color: #4a5ba3;
}
.o2o-c3c.main-admincontent .page-sidebar .sidebar-menu li span {
	font-weight: 600;
	font-size: 1.3rem;
}
.o2o-c3c.main-admincontent .page-sidebar .sidebar-menu {
	margin-left: 0;
}

.o2o-c3c.main-admincontent .page-content-section {
	-webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
	border-radius: 25px;
	background-color: white;
}

.o2o-c3c.main-admincontent .page-body {
	/* padding: 0; */
	padding: 2.3rem !important;
}

.o2o-c3c.main-admincontent .page-content-section span.pagination {
	font-size: 12px;
	color: #bfbfbf;
}

.o2o-c3c.main-admincontent .page-content-section select,
.o2o-c3c.main-admincontent .page-content-section input {
	border-radius: 25px !important;
	border: 1px solid #cfcfcf;
	background: #ffffff;
	padding: 5px 12px;
	font-size: 11px;
	font-weight: 500;
}
.o2o-c3c.main-admincontent
	.page-content-section
	table.datatable
	tr:not(.first)
	td {
	padding: 10px 15px;
}
.o2o-c3c.main-admincontent .page-content-section .input-group-search input {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.o2o-c3c.main-admincontent
	.page-content-section
	.input-group-search
	.input-group-text {
	background: #ffffff;
	border-left: none;
	border-top-right-radius: 25px !important;
	border-bottom-right-radius: 25px !important;
}
.o2o-c3c.main-admincontent .page-content-section table.datatable tr.first {
	background-color: #f6f7f9;
}
.o2o-c3c.main-admincontent .page-content-section table.datatable tr.first td {
	padding: 10px 15px;
	color: #4c5ea4;
	font-weight: 700;
	font-size: 14px;
}
.o2o-c3c.main-admincontent .page-content-section table.datatable .subtitle {
	line-height: 0.7;
	font-size: 8px;
	font-weight: 600;
	color: #bfbfbf;
}
.o2o-c3c.main-admincontent
	.page-content-section
	table.datatable
	tr:not(.first)
	td {
	font-size: 12px;
}
.o2o-c3c.main-admincontent .page-content-section table.datatable td .status {
	background: #ffe7ea;
	padding: 5px 10px;
	font-weight: 700;
	display: inline-block;
	border-radius: 25px;
}
.o2o-c3c.main-admincontent
	.page-content-section
	table.datatable
	td
	.status.enterprise {
	color: #e86e6d;
}
.o2o-c3c.main-admincontent
	.page-content-section
	table.datatable
	td
	.status.pro {
	color: #e86e6d;
}
.o2o-c3c.main-admincontent
	.page-content-section
	table.datatable
	td
	.status.lite {
	color: #5bc4d9;
}
.o2o-c3c.main-admincontent
	.page-content-section
	table.datatable
	td
	.status.expired {
	color: #858585;
}
.o2o-c3c.main-admincontent .page-content-section table.datatable td .btn {
	border-radius: 5px !important;
}
.text-security {
	-webkit-text-security: disc;
}
.page-body section .title {
	font-size: 2rem;
}

.page-sidebar.hide:not(.menu-compact) + .page-content {
	margin-right: -224px;
}


.page-body form * {
	color: #495ba3;
}
.page-body form input,
.page-body form select {
  height: 34px !important;
  background: #ffffff;
  border-radius: 5px !important;
}

@media (max-width: 991px) {
	body #section-1 .logo-bottom-image {
		display: none;
	}
	#section-1 .content {
		display: block;
	}
	.scroller {
		overflow: scroll;
	}
}

@media (max-width: 880px) {
	body .o2o-c3c.main-admincontent .page-sidebar:before {
		top: 74px;
	}
	.o2o-c3c.navbar .navbar-header.pull-left {
		width: 100%;
		margin: 0;
	}
	.o2o-c3c.navbar #navbar-app-name {
		top: 3rem;
	}
	body .o2o-c3c.navbar .navbar-container .sidebar-collapse {
		display: block;
	}
	body .o2o-c3c.main-admincontent .page-sidebar:before {
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}
	body .o2o-c3c.main-admincontent .page-sidebar {
		z-index: 1111;
	}
	body .o2o-c3c.main-admincontent .page-sidebar .sidebar-menu a {
		margin-right: 0;
	}
	.o2o-c3c.main-admincontent .page-sidebar.hide.menu-compact .menu-text {
		height: 70px;
		line-height: 68px;
	}
}

@media (max-width: 768px) {
	.o2o-c3c.main-admincontent .page-body {
		padding: 1rem !important;
	}
}

@media (max-width: 530px) {
	.o2o-c3c.navbar #navbar-app-name {
		top: 0;
	}
}
@media (max-width: 513px) {
}
