#purchase .first {
  padding-right: 1em;
  margin-right: 2.5em;
}

#purchase .item,
#maintenance-register .item,
#purchase-filter .item {
  background: #ffffff;
  margin: 0;
}

#purchase .item .image,
#maintenance-register .item .image,
#purchase-filter .item .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 109px;
}

#purchase .border {
  border-color: #77c943;
}
#purchase .text {
  color: #77c943;
}

#maintenance-register .border {
  border-color: #77c943;
}
#maintenance-register .text {
  border-color: #77c943;
}

.border {
  border-color: #ff7bac;
}
#purchase-filter .text {
  border-color: #ff7bac;
}
