#member_details-view-container {
  margin-bottom: 3em;
  width: 400px;
}

#member_details-view-container table td:first-of-type {
  color: #78c841;
  font-weight: 700;
  border-right: 2px solid #78c841;
}

#member_maintenance_records-view-container {
  margin-bottom: 3em;
}