#flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#section-1 {
  margin: auto !important;
  min-height: auto !important;
  padding-bottom: 0 !important;
}

.login-container {
  /*    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);*/

  /*box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);*/
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.login-form-1 {
  /*padding: 5%;*/
}

.login-form-1 h3 {
  text-align: center;
  color: #333;
}

.login-form-2 {
  /*padding: 5%;*/
  background: #ffffff;
}

.login-form-2 h3 {
  text-align: center;
  color: #ef4130;
  font-weight: bold;
  padding: 1em;
}

#form_reg h3 {
  padding-bottom: 1em;
}

.login-container form {
  padding: 8%;
}

.btnSubmit {
  width: 30%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  /*background-color: #e67358;*/
  background-color: #ef4130;
}

.login-form-2 .btnSubmit {
  border-radius: 8px;
  font-weight: 600;
  color: #ffffff;
  /*background-color: #e67358;*/
  background-color: #ef4130;
  outline: none;
}

.login-form-2 .btnSubmit:hover {
  transition: 5ms;
  /*background-color: #db8976;*/
  background-color: #e17438;
  outline: none;
}

.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

.vl {
  border-left: 2px solid;
  border-color: #ef4130;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 0;
  margin-left: -1px;
}

#section-1 {
  /*background-color: yellow;*/
  /*height: calc(100% - 25%);*/
  min-height: 100%;

  margin-bottom: -250px;
  /* Put negative height of the footer here */
  padding-bottom: 250px;
  /* Put height of the footer here. Needed for higher than screen height

     pages */
}

.buttonrow {
  margin-top: 2.5em;
}

/* 2021/05/ */

#logo {
  margin: 5em auto;
  width: 19em;
}

.form-group div.label {
  text-align: right;
}

.form-group div.label label {
  color: #585858;
  /* text-align: right; */
  width: 80px;
  text-align: left;
  line-height: 34px;
}

.mobile_logo {
  display: none;
}

@media (max-width: 792px) {
  .vl {
    border-left: none;
    border-top: 2px solid;
    border-color: #ef4130;
    height: 2px;
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    margin: 0 auto;
  }

  #logo {
    width: 20em;
  }

  .login-container form {
    padding: 0;
  }
}

.d-sm-block{
        display:none;
    }

input:not([type="submit"]) {
  border-color: #b3b3b3 !important;
  background-color: #ffffff !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3 !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b3b3b3 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b3b3b3 !important;
}

body {
  background-color: #f2f2f2;
}

.contact-item {
  text-align: left;
}

.contact-item-right {
  text-align: right;
}


.contact-item.email {
  line-height: 25px;
}

.contact-item.phone {
  line-height: 25px;
}

@media (max-width: 992px) {
  .login-form-1 {
    display: none;
  }

  .mobile_logo {
    display: block;
  }
}

@media (max-width: 576px){
    .d-none{
        display:none;
    }
    
    .d-sm-block{
        display:block;
    }
}
