/*added css*/
.redbr{
    border: 1px solid red;
  }
.title{
  color: #33aaae;
  font-size: 22px;
    margin: 21px 0;
    margin-top: 21px;
    margin-right: 0px;
    margin-bottom: 21px;
    margin-left: 0px;
    font-weight: 600;
    text-align: left;
}

/*end added css*/

#navbarResponsive {
  border-top: 5px solid #794598;
}

.nav-item > .nav-link {
  color: #794598;
}

.nav-item.activeMenu > .nav-link {
  background-color: #794598;
  color: #fff;
}

.vision-text-color {
  color: #794598;
}

.vision-text-title-1 {
  font-size: 0.95rem;
  color: #054899;
  margin-bottom: 0;
}

.vision-text-content {
  font-size: 0.9rem;
}

.vision-footer-content {
  font-size: 0.7rem;
}

.vision-text-title {
  color: #794598;
  font-size: 1.6rem;
}

.vision-text-color-grey {
  color: #999;
}

.vision-text-color-blue {
  color: #054899;
}

.vision-text-color-black {
  color: #000;
}

.vision-no-top-border {
  border-top: none!important;
}

.vision-left-border {
  border-left: 1px solid #794598;
}

.vision-top-margin {
  margin-top: 2rem;
}

.vision-padding {
  padding: 2rem 0 2rem 0;
}

.vision-white-background {
  background-color: #fff;
}

.vision-bottom-padding {
  padding-bottom: 2rem;
}

.vision-top-padding {
  padding-top: 2rem;
}

.vision-block {
  background-color: #fff;
  width: 100px;
  height: 100px;
  margin: 0 3px 0 3px;
}

.vision-no-padding {
  padding: 0;
}

footer.py-5 {
  /*background-image: url(../img/footer/footer_bg.png);*/
  background-color: #d67445;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 1rem!important;
}

.vision-white-line {
  border-color: #fff;
}

/* added css at 2020-02-14 */
.brighten img {
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  }

  .brighten img:hover {
  -webkit-filter: brightness(110%);
  }

  .changeText {
    
    -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
    transition: color 1s; /* For modern browsers */
  }
  .changeText:hover {
      color: #794598;
      text-decoration: none;
  }
  .changeBoxText h4{
    
    -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
    transition: color 1s; /* For modern browsers */
  }
  .changeBoxText:hover h4{
      color: #794598;
      text-decoration: none;
  }

  .grow {
    transition: 0.5s ease;
    }

    .grow h4{
      transition: 0.5s ease;
      }
    
    .grow:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: perspective(1px)scale(1.1);
    transition: 0.5s ease;
    }
    .grow:hover h4{
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: perspective(1px)scale(1.1);
      transition: 0.5s ease;
      }

      .grow5 {
        transition: 0.5s ease;
      }  
      .grow5:hover{
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: perspective(1px)scale(1.05);
        transition: 0.5s ease;
        }
/* end added css at 2020-02-14 */