@import url("./base/_modal.css");
@import url("./base/_colors.css");
@import url("./base/_typography.css");

/**
 * Theme
 */

#section-1 .login-form-2 .btnSubmit:hover,
#section-1 .login-form-2 .btnSubmit {
	background-color: #4a5ba3;
	padding: 10px 20px;
	width: 180px;
	font-size: 2rem;
	font-weight: 400;
}

#section-1 .login-form-2 .btnSubmit:hover {
	opacity: 0.5;
}

#section-1 .login-form-2 .btnSubmit:hover,
#section-1 .login-form-2 .btnSubmit {
	background-color: #4a5ba3;
	padding: 10px 20px;
	width: 180px;
	font-size: 2rem;
	font-weight: 400;
}

#section-1 .login-form-2 .btnSubmit:hover {
	opacity: 0.5;
}

#section-1 #form_reg .title {
	padding-bottom: 0;
	color: #4c5da4;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 400;
}

#section-1 #form_reg .subtitle {
	padding-bottom: 0;
	color: #2293c4;
	text-transform: uppercase;
	font-size: 2rem;
	padding-bottom: 2rem;
}

#section-1 input {
	padding: 6px 20px;
	height: 45px;
}

#section-1 .logo-bottom-image {
	width: 100%;
	padding-bottom: 3rem;
}

#section-1 .vl {
	border-color: #243267;
	left: initial !important;
	right: 0 !important;
}

#section-1 .content {
	display: flex;
	justify-content: center;
	align-items: center;
}

#section-1 .forgot-password {
	color: #4c5da4;
}

#section-1 .forgot-password a {
	color: #2293c4;
}

body input,
body .btn {
	border-radius: 25px !important;
}

body .o2o-c3c.navbar {
	height: 72px;
	position: sticky;
	top: 0;
}

body .o2o-c3c.navbar .navbar-inner .navbar-container {
	padding: 0;
}

body .o2o-c3c.navbar .navbar-brand {
	padding-left: 17px !important;
	height: auto;
}

body .o2o-c3c.navbar .navbar-brand small img {
	height: 72px;
	width: 202px;
}

.o2o-c3c.navbar .navbar-header.pull-left {
	padding-top: 0;
	width: 234px;
	/* margin-left: 0; */
}

body .o2o-c3c.navbar .sidebar-collapse {
	/* left: 239px;
	top: 27px; */
}

body .o2o-c3c.navbar .navbar-container .sidebar-collapse i {
	color: #333;
}

.o2o-c3c.navbar #navbar-app-name,
.o2o-c3c.main-admincontent .page-title {
	padding-left: 0;
	left: 5rem;
	color: #333;
	text-transform: capitalize;
	text-align: left;
	font-weight: 900 !important;
	font-size: 2em;
}

.o2o-c3c.navbar .navbar-inner {
	background-color: #f8f9fe;
}

.o2o-c3c.navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area section h2 span {
	color: #4a5ba3;
}

.o2o-c3c.navbar .profile {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2rem;
}

body:before {
	background-color: #f8f9fe;
}

.o2o-c3c.main-admincontent .page-body {
	background: #f8f9fe;
}

body .o2o-c3c.main-admincontent .page-sidebar {
	position: fixed;
	top: 72px;
	left: 0 !important;
}

body .o2o-c3c.main-admincontent .page-sidebar:before {
	background-color: #ffffff;
	left: 0 !important;
}

body .o2o-c3c.main-admincontent .page-sidebar .sidebar-menu a {
	height: 70px;
	line-height: 68px;
	left: 0;
	margin-right: 4px;
}

.o2o-c3c.main-admincontent .page-sidebar .sidebar-menu li.active a {
	border-right: 5px solid #4a5ba3;
}

.o2o-c3c.main-admincontent .page-sidebar .sidebar-menu li.active i {
	color: #4a5ba3;
}

.o2o-c3c.main-admincontent .page-sidebar .sidebar-menu li span {
	font-weight: 600;
	font-size: 1.3rem;
}

.o2o-c3c.main-admincontent .page-sidebar .sidebar-menu {
	margin-left: 0;
}

/* Page body + datatables*/
.o2o-c3c.main-admincontent .page-body {
	/* padding: 0; */
	padding: 2.3rem !important;
}

.o2o-c3c.main-admincontent .page-body.relative-vh {
	height: calc(100vh - 75px);
	position: relative;

	/* padding: 0 !important; */
}

.o2o-c3c.main-admincontent .page-body.relative-vh .filter {
	top: 0;
	padding-right: 53px !important;
	z-index: 1200;
	position: sticky !important;
	background: white;
	padding-bottom: 0 !important;
}

.o2o-c3c.main-admincontent .page-body.relative-vh .scroller {
	margin-top: -102px;
}


.o2o-c3c.main-admincontent .page-body.relative-vh .page-content-section {
	height: calc(100vh - 75px - 4.6rem);
	overflow: overlay;
}

.o2o-c3c.main-admincontent .page-body.relative-vh .page-content-section .top {
	z-index: 1;
	position: sticky;
	top: 31px;
}

.o2o-c3c.main-admincontent .page-content-section {
	-webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
	border-radius: 25px;
	background-color: white;
}

.o2o-c3c.main-admincontent .page-content-section .dataTables_info {
	font-size: 12px;
	color: #bfbfbf;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.o2o-c3c.main-admincontent .page-content-section select,
.o2o-c3c.main-admincontent .page-content-section input {
	border-radius: 25px !important;
	border: 1px solid #cfcfcf;
	background: #ffffff;
	padding: 5px 12px;
	font-size: 11px;
	font-weight: 500;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable tr:not(.first) td {
	padding: 10px 15px;
}

.o2o-c3c.main-admincontent .page-content-section .input-group-search input {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.o2o-c3c.main-admincontent .page-content-section .input-group-search .input-group-text {
	background: #ffffff;
	border-left: none;
	border-top-right-radius: 25px !important;
	border-bottom-right-radius: 25px !important;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable * {
	border: none !important;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable thead {
	background-color: #f6f7f9;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable thead th {
	padding: 10px 15px;
	color: #4c5ea4!important;
	font-weight: 700;
	font-size: 14px;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable .subtitle {
	line-height: 1.1;
	font-size: 8px;
	font-weight: 600;
	color: #bfbfbf;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable tr:not(.first) td {
	font-size: 12px;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable td .status {
	padding: 5px 10px;
	font-weight: 700;
	display: inline-block;
	border-radius: 25px;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable td .status.enterprise {
	/* https://www.rapidtables.com/web/color/pink-color.html */
	color: #e86d6d;
	background: #ffe9e9;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable td .status.pro {
	/* https://www.rapidtables.com/web/color/purple-color.html */
	color: #c566d3;
	background: #f3eaf4;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable td .status.lite {
	/* tiffany blue */
	color: #5dc3db;
	background: #eaf6f9;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable td .status.expired {
	color: #848484;
	background: #e5e5e5;
}

.o2o-c3c.main-admincontent .page-sidebar.menu-compact .menu-text {
	height: 70px;
	line-height: 68px;
}

body .o2o-c3c.main-admincontent .page-sidebar.menu-compact .sidebar-menu a {
	margin-right: 0;
}

.o2o-c3c.main-admincontent .page-content-section table.dataTable td .btn {
	border-radius: 5px !important;
}

.text-security {
	-webkit-text-security: disc;
}

.text-security.reveal {
	-webkit-text-security: none;
}

.page-body section .title {
	font-size: 2rem;
}

.page-sidebar.hide:not(.menu-compact)+.page-content {
	margin-right: -224px;
}

.page-body form * {
	color: #495ba3;
}

.page-body form input,
.page-body form select {
	height: 34px !important;
	background: #ffffff;
	border-radius: 5px !important;
}

.page-body form textarea {
	background: #ffffff;
	border-radius: 5px !important;
}

input[type="file"] {
	outline: none;
	background-color: transparent;
	opacity: 0;
}

.page-body .btn-upload {
	background: #4a5ba3;
	color: white;
	border-color: #4a5ba3;
	border-radius: 5px !important;
	padding: 7px 10px;
	font-size: 1.4rem;
}

.page-body .btn-accent {
	background: #bfbfbf;
	color: white;
	border-radius: 5px !important;
	padding: 7px 10px;
	font-size: 1.4rem;
}

.btn-accent:not(:disabled):not(.disabled).active,
.btn-accent:not(:disabled):not(.disabled):active,
.show>.btn-accent.dropdown-toggle {
	color: #fff;
	background-color: #4a5ba3;
	border-color: #4a5ba3;
	border-top-color: rgb(78, 85, 91);
	border-right-color: rgb(78, 85, 91);
	border-bottom-color: rgb(78, 85, 91);
	border-left-color: rgb(78, 85, 91);
	outline: none;
}

.clickable {
	cursor: pointer;
}

.page-body i {
	color: #5e71b4;
}

.dashboard-card .card-title {
	color: #455ca8;
	font-weight: 600 !important;
}

.dashboard-card .card-text {
	color: #455ca8;
}

.dashboard-card .card-text .value {
	font-size: 3.5rem;
	font-weight: 900 !important;
}

.content-list>.row {
	height: 44px;
	align-items: center;
}

/* .dashboard-card .card-text .percentage {
  padding-top: 2.5rem;
} */

@media (max-width: 991px) {
	body #section-1 .logo-bottom-image {
		display: none;
	}

	#section-1 .content {
		display: block;
	}

	.scroller {
		overflow: overlay;
	}
}

@media (max-width: 880px) {
	body .o2o-c3c.main-admincontent .page-sidebar:before {
		top: 74px;
	}

	.o2o-c3c.navbar .navbar-header.pull-left {
		width: 100%;
		margin: 0;
	}

	.o2o-c3c.navbar #navbar-app-name {
		top: 3rem;
	}

	body .o2o-c3c.navbar .navbar-container .sidebar-collapse {
		display: block;
	}

	body .o2o-c3c.main-admincontent .page-sidebar:before {
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}

	body .o2o-c3c.main-admincontent .page-sidebar {
		z-index: 1111;
	}
}

@media (max-width: 768px) {
	.o2o-c3c.main-admincontent .page-body {
		padding: 1rem !important;
	}

	#merchant_datatables_filter {
		/* position: relative !important; */
	}
}

@media (max-width: 530px) {
	.o2o-c3c.navbar #navbar-app-name {
		top: 0;
	}
}

@media (max-width: 513px) {}