/* Color */
#header-section {
	background: #4e3b6c;
}
#header-section .header_top {
	font-size: 0.8rem;
	padding: 0.4rem 0px;
}
#header-section .header_top .items_left {
	width: 15rem;
}
#header-section .header_top .top_wrapper {
	display: inline-block;
}
#header-section .font_white {
	color: #fff;
}
#header-section .top_wrapper div {
	display: inline-block;
	vertical-align: middle;
}
#header-section .header_top .items_right {
	width: calc(100% - 15rem);
}
#header-section .header_top .items_right .top_wrapper {
	margin-right: 10px;
}
#modal-login .modal-content {
	background-color: transparent;
	border: none;
}
#modal-login .close-modal {
	right: 0;
	position: absolute;
	background-color: transparent;
	color: #ccc;
}
.Genetic_test_wrapper .title {
	min-width: 64px;
}
body .contact-section {
	border-top: 1px solid #f79fb1;
	background-color: #feebee;
	color: #7e8184;
}
body .contact-section .footer_logo_wrapper img {
	width: auto;
}
body .contact-section a {
	color: #7e8184;
}
body .right_control {
	top: 40rem !important;
	position: fixed;
	right: 15px;
	z-index: 10000;
}
body .right_control ul {
	list-style: none;
}
body .right_control a.back_to_top {
	padding-left: 1px;
	width: 48px;
	height: 48px;
	background-color: #c58490;
	border-radius: 25px;
	color: #ffffff;
}
body .rightmenu_items_wrapper .right_menu_item {
	background: #c32626;
}
body .owl-carousel .owl-dots .owl-dot.active span {
	background-color: #0284b1;
}
body .owl-carousel .owl-dots .owl-dot span {
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 2px 1px 5px -2px #222;
	background-color: #ffffff;
}
.form_wrapper .booking_success h3 {
	color: #c68590;
	letter-spacing: 2px;
}
.form_wrapper .booking_success div {
	color: #333;
}
.form_wrapper .booking_title {
	color: #c68590;
}
.booking_step_header {
	padding: 15px 0px;
	background-color: #feebee;
}
.step_no.active {
	background: #f79fb1;
	color: #ffffff;
}
.step_no {
	background: #b8a4ae;
	color: #ffffff;
	width: 32px;
	height: 32px;
	border-radius: 32px;
	line-height: 34px;
	margin-right: 5px;
	font-family: sans-serif;
}
.form_step_wrapper .main-title {
	color: #c68590;
	font-size: 1.4rem;
}
.form_step_wrapper h6 {
	color: #333333;
}
.form_step_wrapper .border-bottom {
	border-bottom: none !important;
	/* border-bottom: 1px solid #f79fb1 !important; */
}
.booking_btn {
	background-color: #c68590;
	width: 180px;
	padding: 10px 20px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 3px;
	font-weight: bold;
}
/* .form_step_wrapper b {
	color: #0486b3;
} */
.booking_time {
	text-align: center;
	border: 1px solid #f79fb1;
	border-radius: 3px;
	padding: 5px 5px;
	width: 80%;
	color: #f79fb1;
}

.booking_time.active {
	background: #f79fb1;
	color: #fff;
}

.booking_time.disabled {
	background: #c47634;
	border-color: #c47634;
	color: #fff;
	cursor: not-allowed;
	opacity: 0.3;
}
.submit_form .form-control {
	border-color: #f79fb1;
}
.comfirm_fields_title {
	font-weight: bold;
	color: #c68590;
}
body #member-section {
	background-color: #ffffff;
}
body #member-section .member .forgot_btn,
body #member-section .member .return_btn,
body #member-section .member .register_btn {
	background-color: #f79fb1;
}
body #member-section .btn-primary,
body #member-section .btn-primary:hover {
	border-color: #c58490;
}
body #member-section .member .bottom_line {
	color: #f79fb1;
	border-bottom-color: #e2c2c7;
}
body #member-section .member .member_section_wrapper {
	border-bottom-color: #e2c2c7;
}
body #member-section .member .vertical-nav li.nav-item {
	border-top-color: #e2c2c7;
}
body #member-section .member .nav-item.nav-logout {
	border-bottom-color: #e2c2c7;
}
body
	#member-section
	.member
	.main-section
	.main-block-wrapper
	.sidenav-wrapper {
	border-right-color: #e2c2c7;
}
#member-section .member-login .login-form {
	border-left: 3px solid #f79fb1;
}
#member-section .member-login .login-form h6 b {
	color: #c58490;
}
#member-section .form-control {
	border-color: #999999;
}
#member-section button[type="submit"] {
	background-color: #c58490;
}
body #member-section .regnforgot a {
	color: #999999;
}
#member-section .member .table {
	border-spacing: 0;
}
#member-section .member .table th,
#member-section .member .table td {
	background: #ffffff;
	border-bottom: 1px solid #81c1da !important;
}
body #member-section .border-bottom {
	border-bottom: 1px solid #f79fb1 !important;
}
#member-section table tr.in_progress td,
#member-section table tr.pending_within_an_hour td {
	background-color: #edeaf3 !important;
}
body #member-section .prescript-title {
	color: #f79fb1;
}
#member-section .member-login #logo {
	zoom: 1.25;
}
/* TODO: remove */
#member-section .prescript .booking_edit_button {
	display: none;
}
#member-section .breadcrumb a:not(:last-child) {
	color: #333;
}
#member-section .breadcrumb a:last-child {
	color: #ae8bc3;
}
#page-section .content_bg {
	background-image: none;
	background-color: #edeaf3;
}
#page-section .content_bg a {
	color: #0084b4;
}
#page-section .content_bg .breadcrumb_current {
	color: #0084b4 !important;
}
#page-section .color_orange {
	color: #0084b4 !important;
}
.logo-section {
	border-bottom: 1px solid #f79fb1;
}
.logo-section .nav-item {
	padding: 0;
}
.logo-section .img-fluid {
	width: 179px;
}
.logo-section .nav_item {
	padding: 0 !important;
}
.logo-section .nav_item a {
	padding: 0.5rem !important;
}
.logo-section .nav-link,
.logo-section .nav-link:hover {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}
body .contact-section p {
	letter-spacing: 0.1rem;
	margin-bottom: 0;
}
body .contact-section .left-column {
	border-right: 2px solid #8572a8;
}
body .contact-section .container {
	max-width: 1160px;
}
body .contact-section .copyright_container div {
	border-right-color: #7e8184;
}
body .contact-section hr.footer_hr {
	background: #cabfbf;
	border: 0.001em solid #cabfbf !important;
}
/* Copyright */
body .copyright-area {
	background-color: #ffffff;
	font-size: 0.75rem;
	padding-top: 10px;
	padding-bottom: 10px;
}
body .copyright-area p {
	color: #7e8184;
	font-size: 0.75rem;
	letter-spacing: 0.1rem;
	margin-bottom: 0;
}
body,
html {
	font-family: "Noto Sans HK", sans-serif;
}
.owl-carousel.home_banners {
	margin-bottom: -2.3rem !important;
}
.owl-carousel .owl-dots {
	margin-top: 0;
	top: -2.3rem;
	position: relative;
}
.owl-carousel .owl-dots .owl-dot {
	outline: 0;
}

/* Footer */
.booking_success {
	background-color: #f7ebef;
	padding: 3rem 0px;
}

body div.footer {
	position: relative;
}

body main {
	overflow: hidden;
}

.posrel {
	position: relative;
}

.img-background-container {
	position: absolute;
	top: 0;
	background-image: var(--bg-md-image);
	height: var(--bg-md-height);
	background-size: var(--bg-md-background-size);
	background-position: top;
	background-repeat: no-repeat;
}

.form_wrapper {
	position: relative;
	left: 0px;
	top: 0px;
	background: #fff;
	z-index: 1;
	width: 88%;
	max-width: 1160px;
	/* left: 50%; */
	/* top: 50%; */
	/* transform: translate(-50%, -30%); */
	min-height: 400px;
}

.date_picker {
	max-width: 40%;
}

.booking_prev_btn {
	display: inline-block;
}

.booking_next_btn {
	display: inline-block;
}

.text_right {
	text-align: right;
}

.booking_btn.center {
	margin: 0 auto;
	display: inline-block;
}

.form_content {
	padding: 30px 60px;
}

.form-content .form_step_wrapper {
	min-height: 200px;
}

.time_wrapper .col-4.col-lg-2 {
	margin-bottom: 20px;
	cursor: pointer;
}

.vaccine_row .col-6.col-lg-3 {
	margin-bottom: 10px;
}

.vaccine_row [type="radio"] {
	display: inline-block;
	width: 20px;
	vertical-align: top;
	margin-top: 5px;
}

.vaccine_row label.form-check-label {
	display: inline-block;
	width: calc(100% - 25px);
	cursor: pointer;
}

.comfirm_fields_value {
	margin-left: 1rem;
}
body div.footer {
	margin-top: -24px;
}

@media (min-width: 1200px) {
	.logo-xl-center {
		bottom: 8px;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
    z-index: 1;
	}
}
/* fix layout navbar, footer, etc.*/
@media (max-width: 1200px) {
  .logo-xl-center {
    position: relative;
    left: 5rem;
  }
	#header-section .header_top div:not(:first-child) {
		text-align: right;
	}
	#navbar_container .logo_bar + div {
		position: absolute;
		top: calc(50% - (8px + 8px + 16px) / 2);
		right: 15px;
	}

	#navbar #mobile_menu {
		/* top: calc(50% - (8px + 8px + 16px) / 2); */
		padding-top: calc(122px / 2 - (8px + 8px + 16px) / 2) !important;
	}
	#navbar #mobile_menu .navbar-toggler {
		padding: 0.35rem 0.75rem;
	}
	body .navbar-toggler.active .toggler-icon:nth-of-type(1) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 7px;
	}
	body .navbar-toggler.active .toggler-icon:nth-of-type(2) {
		opacity: 0;
	}
	body .navbar-toggler.active .toggler-icon:nth-of-type(3) {
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
		top: -7px;
	}
	body .navbar-toggler .toggler-icon {
		width: 30px;
		height: 2px;
		background-color: #fff;
		display: block;
		margin: 5px 0;
		position: relative;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-ms-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
}

@media (max-width: 991px) {
	.logo-section .nav {
		left: 38% !important;
	}
	.white_border_right {
		border-right: none;
	}
	.footer_section_2_wrapper {
		padding: 0;
	}
	.business_hours {
		margin-top: 0;
	}
	.video-wrapper {
		min-height: initial;
	}
}
.Genetic_test_wrapper.border-bottom {
	border-bottom: 1px solid #f79fb1 !important;
}

@media (max-width: 767px) {
  .logo-xl-center {
    position: relative;
    left: 1rem;
  }
	.logo-section .nav {
		left: 0 !important;
		transform: initial !important;
	}
	#header-section .row.header_top {
		margin-left: 0px;
		margin-right: 0px;
		text-align: left;
	}
	#header-section .header_top .items_left,
	#header-section .header_top .items_right {
		width: 100%;
		text-align: left !important;
	}
	#booking-section > .posrel {
		height: initial !important;
	}
	.img-background-container {
		position: relative;
		background-image: var(--bg-sm-image);
		height: var(--bg-sm-height);
		background-size: var(--bg-sm-background-size);
	}
	.form_wrapper {
		width: 100%;
	}
	.booking_step_header .col-6.col-lg-3 {
		padding: 5px 0px;
	}
	.date_picker {
		max-width: 100%;
	}
	.form_content {
		padding: 30px 15px;
	}
	.booking_btn {
		width: auto;
	}
	.booking_time {
		width: 90%;
		margin: 0 auto;
	}
	.time_wrapper .col-4.col-lg-2 {
		margin-bottom: 10px;
	}
	.booking_step_header .col-6.col-lg-3 {
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.comfirm_fields_title {
		display: block;
	}
	.comfirm_fields_value {
		margin-left: 0;
		display: block;
	}
	.login-form {
		border-left: none !important;
	}
	body .contact-section .left-column {
		border-right: none !important;
	}
	body .copyright_container div {
		border-right: none;
	}
	.Genetic_test_wrapper .title.border-bottom {
		border-bottom: none !important;
	}
	.Genetic_test_wrapper.border-bottom {
		border-bottom: 1px solid #f79fb1 !important;
	}
}
