/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@font-face {
  font-family: "Noto Sans HK Regular";
  src: local(NotoSansHK-Regular), url(../fonts/NotoSansHK-Regular.otf) format("opentype"); }
@font-face {
  font-family: "Noto Sans HK Medium";
  src: local(NotoSansHK-Medium), url(../fonts/NotoSansHK-Medium.otf) format("opentype"); }
@font-face {
  font-family: "Noto Sans HK Bold";
  src: local(NotoSansHK-Bold), url(../fonts/NotoSansHK-Bold.otf) format("opentype"); }
html, body {
  height: 100%;
  width: 100%;
  font-family: "Noto Sans HK Regular"; }

.block-heading {
  padding-top: 40px;
  letter-spacing: .2em; }
  .block-heading .text-info {
    color: #084c94;
    font-size: 2rem;
    text-align: left;
    border-bottom: 1px solid #084c94; }
  .block-heading .section-text-info {
    color: #084c94;
    font-size: 1.8rem;
    text-align: left;
    border-bottom: 1px solid #084c94; }
  .block-heading .text-info-no-underline {
    color: #084c94;
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 30px; }

.main-content {
  letter-spacing: 2px; }
  .main-content .subtitle {
    color: #084c94;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .main-content .point-list {
    list-style-type: dist;
    padding-left: 1em; }

.highlight {
  color: #29abe2;
  display: inline; }

.input-label {
  color: #084c94;
  margin-bottom: 0; }

.form-control {
  border: none;
  background-color: #f0f0f0; }

.hover-enabled:hover {
  cursor: pointer; }

#rate-inquiry {
  background-color: #0fbab8;
  writing-mode: vertical-rl;
  letter-spacing: .5rem;
  font-size: .9rem;
  padding: 30px 5px;
  -webkit-border-radius: 15px 0 0 15px;
  -khtml-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
  border-radius: 15px 0 0 15px;
  position: fixed;
  top: 100px;
  right: 0;
  color: #fff;
  display: inline-block;
  text-decoration: none; }

/*# sourceMappingURL=global.css.map */
