.member .title {
	margin: 0 auto;
	font-size: 1.3rem;
	font-weight: bold;
}

.member .bottom_line {
	border-bottom: 2px solid #999;
}

.member .form_wrapper {
	max-width: 580px;
	text-align: center;
	margin: 0 auto;
}

.member .form_wrapper .form_title {
	font-weight: bold;
	font-size: 1.3rem;
}

.member .form_wrapper input {
	border: 1px solid #999;
}

.member .login_btn,
.member .return_btn,
.member .donation_record_btn,
.member .next_step_btn {
	background: rgba(196, 118, 52);
	color: #fff;
	font-size: 1.3rem;
	padding: 4px 0px;
	font-weight: bold;
	text-align: center;
}

.member .donation_record_btn.small {
	font-size: 1rem;
	padding: 3px 20px;
	border-radius: 0px;
	margin-right: 30px;
}

.btn_wrapper {
	max-width: 420px;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
}

.member .return_btn,
.member .next_step_btn {
}

.member .regnforgot {
	color: #999;
	font-size: 0.8rem;
}

.member .register {
	display: inline-block;
	padding-right: 10px;
	border-right: 2px solid #ccc;
	cursor: pointer;
}

.member .forgot_password {
	display: inline-block;
	padding-left: 10px;
	cursor: pointer;
}

.member .regnforgot a {
	color: #ccc;
	cursor: pointer;
}

.member .form_border {
	border: 2px solid #ccc;
	max-width: 680px;
	margin: 0 auto;
}

.member .form_border {
	margin-bottom: 6rem;
}

.member .col-md-6.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.member .register_btn {
	background: rgba(196, 118, 52);
	text-align: center;
	line-height: 36px;
	height: 36px;
	color: #fff;
}

.member .custom-checkbox {
	line-height: 36px;
	height: 36px;
	border: 1px solid #ccc;
}

.member .custom-control-label::before {
	position: absolute;
	top: 0.6rem;
	left: -1.3rem;
	display: block;
	width: 1rem;
	height: 1rem;
	pointer-events: none;
	content: "";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #ccc;
}

.member .form_label_name {
	font-size: 0.8rem;
	color: #999;
}

.member .custom-control-label {
	position: relative;
	margin-bottom: 0;
	top: -3px;
}

.member .form-control {
	font-size: 0.8rem;
	text-align: center;
}

.member .form-mb {
	margin-bottom: 6rem;
}

.member .memu_items {
	border-right: 2px solid #999;
}

.member .fullWidth {
	width: 100%;
}

.member .memu_items {
	text-align: center;
}

.member .main-section .main-block-wrapper {
	padding-top: 0px;
	margin-bottom: 50px;
	background-color: #fff;
}

.member .main-section .main-block-wrapper .sidenav-wrapper {
	padding-right: 0;
	border-right: 1px solid #191b2a;
	padding-left: 0px;
}

.member .vertical-nav li.nav-item {
	border-top: 1px solid #999;
}

.member .main-section h1,
.main-section h2,
.main-section h3,
.main-section h4,
.main-section h5 {
	margin-bottom: 0px !important;
	font-size: 0.8rem;
	padding: 10px 0px;
}

.member .main-section {
	width: 100%;
	font-size: 0.8rem !important;
}

.member .profile {
	padding-top: 1rem;
}

.member .nav-item.nav-logout {
	border-bottom: 1px solid #999;
}

.member .member_section_wrapper {
	min-height: 527px;
}

.member .member_section_wrapper {
	border-bottom: 2px solid #999;
}

.member .content-body.member_record {
	padding: 0rem;
}

.member .left_section {
	margin-right: 10px;
}

.member .right_section {
	margin-left: 10px;
}

.member .welcome_msg {
	margin-bottom: 3rem;
}

.member .nav-item.active {
	background: rgba(250, 243, 237);
}

.member_subtitle {
	font-weight: bold;
	font-size: 1rem;
}

.member .search_input {
	width: 220px;
	border: 1px solid #999;
	height: 30px;
	line-height: 30px;
	text-align: left;
}

.member .col_align_right {
	justify-content: flex-end;
}

.member table {
	padding: 0.5em;
}

.member .table td,
.table th {
	padding: 0.5em !important;
	text-align: left;
	vertical-align: middle;
}

.member .table th {
	background: rgba(250, 243, 237);
}

.member .table.member_record tr {
	border-bottom: 2px solid #999;
}

.member .table.member_record tbody tr td.actions button,
.member .table.member_record tbody tr td.actions a,
.member .table.member_record tbody tr td.prescript a {
	width: 28px;
	height: 28px;
	padding: 0;
	margin-right: 7px;
	padding-bottom: 0 !important;
	background-color: transparent;
	border: 1px solid #999;
	text-decoration: none;
	color: #333;
}

.table.member_record .status {
	border: 2px solid #999;
	color: #999;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	padding: 3px 10px;
	border-radius: 5px;
}

.table.member_record .status.unfinished {
	border: 2px solid red;
	color: red;
}

.table.member_record .status.proceed {
	border: 2px solid rgb(74, 74, 192);
	color: rgb(74, 74, 192);
}

.table.member_record .status.expired {
	border: 2px solid purple;
	color: purple;
}

.table.member_record .status.completed {
	border: 2px solid rgb(27, 168, 27);
	color: rgb(27, 168, 27);
}

.member table td.task_items {
	width: 30%;
}

.member .content-body {
	padding: 2rem;
}

.member_record a {
	display: inline-block;
}

.task_members_table tr {
	border: none !important;
}

.task_members_table td {
	padding-left: 0px !important;
}

.member .member_name div {
	display: inline-block;
}

.member .no_border_line {
	border-bottom: none !important;
}

.member .detail_right_section {
	padding-left: 10px;
}

.member .detail_left_section {
	padding-right: 10px;
}

.member .detail_right_section .task_items {
	padding: 0rem;
	padding-top: 0.75rem !important;
	padding-left: 20px !important;
}

.member td.no_pl {
	padding-left: 0px !important;
}

.bottom_line .title {
	text-align: center;
}

.member .donation_radio_wrapper .form-check-label {
	font-size: 1.2rem;
}

.member .donation_radio_wrapper .form-check-label.bold {
	font-weight: bold;
}

.member .form-check-input {
	position: absolute;
	margin-top: 0.5rem;
	margin-left: -1.25rem;
}

.member .inline_block {
	display: inline-block;
}

.member .content-body.thanyou {
	padding: 3rem;
}

.member .thankyou_title {
	font-size: 2rem;
	font-weight: bold;
	color: rgba(196, 118, 52);
}

.member .thankyou_msg_wrapper {
	background: rgba(250, 243, 237);
	height: 15rem;
}

.member .content-body.account_information {
	padding: 0rem 1rem;
}

.member .bottom_line {
	color: rgba(196, 118, 52);
}

.member .custom-control-label::after {
	position: absolute;
	top: 0.65rem;
	left: -1.3rem;
	display: block;
}

@media (max-width: 767px) {
	.member .left_section {
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.member .right_section {
		margin-left: 0px;
	}
	.member .content-body {
		padding: 0rem;
	}
	.member table td.task_items {
		width: auto;
	}
	.member .detail_right_section {
		padding-left: 0px;
	}
	.member td.no_pl {
		padding-left: 20px !important;
	}
	.member .detail_right_section {
		padding-top: 0.75rem !important;
		padding-left: 0px !important;
	}
	.member .table td,
	.table th {
		padding-left: 0px !important;
	}
	.member .main-section .main-block-wrapper .sidenav-wrapper {
		border-right: 0px;
	}
	.member .form_wrapper {
		padding: 20px;
	}
	.member.member_donation .pl-5 {
		padding-left: 0px !important;
	}
	.member.member_donation .pl-4 {
		padding-left: 20px !important;
	}
	.member .content-body.thanyou {
		padding: 0rem;
		margin-top: 60px;
	}
}

#member_booking_detail .border-bottom {
	border-color: #c0e0eb;
}

.video-wrapper {
	min-height: 400px;
}

.video-wrapper .position-absolute {
	top: 0;
	left: 0;
	display: flex;
}

#member_booking_detail .label {
	color: #1990ba;
}

#member-section :not(table.member_record) a {
	color: #0484b4;
}

#member-section .member .bottom_line {
	color: #0484b4;
	border-bottom-color: #80c0d8;
}

#member-section .member .vertical-nav li.nav-item {
	border-top-color: #80c0d8;
}

#member-section .member .nav-item.nav-logout {
	border-bottom-color: #80c0d8;
}

#member-section .member .main-section .main-block-wrapper .sidenav-wrapper {
	border-right-color: #80c0d8;
}

#member-section .member .member_section_wrapper {
	border-bottom-color: #80c0d8;
}

#member-section .member .login_btn,
#member-section .member .return_btn,
#member-section .member .donation_record_btn,
#member-section .member .next_step_btn {
	background-color: #0484b3;
}

#member-section .booking_info_button,
#member-section .booking_edit_button,
#member-section .booking_play_button,
#member-section .prescript_edit_button {
	color: #333 !important;
}

#member-section .prescript-title {
  font-size: 1.5rem;
  border-bottom: 1px solid #80c0d8;
  color: #0484b4;
}