.navigation-section .brand-name {
  font-family: "Noto Sans HK Bold";
  color: #084c94;
  font-size: 1.5rem; }
.navigation-section .navbar-nav .nav-item {
  padding-right: 0;
  padding-left: .75rem; }
  .navigation-section .navbar-nav .nav-item a.active {
    color: #084c94 !important; }
  .navigation-section .navbar-nav .nav-item a:hover {
    color: #084c94; }
  .navigation-section .navbar-nav .nav-item.dropdown {
    line-height: 40px; }
    .navigation-section .navbar-nav .nav-item.dropdown a {
      color: rgba(0, 0, 0, 0.5); }
      .navigation-section .navbar-nav .nav-item.dropdown a:hover {
        color: #084c94;
        text-decoration: none; }
    .navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu {
      min-width: 15rem;
      border: none; }
      .navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li {
        padding-left: 0; }
        .navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li a {
          padding-left: .75rem;
          display: inline-block;
          width: 100%; }
          .navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li a:hover {
            background-color: #084c94;
            color: white; }

#navbar {
  background-color: #e6e6e6;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 16;
  width: 100%; }
  #navbar .dropdown-menu {
    background-color: #e6e6e6;
    padding-left: 15px; }

@media screen and (max-width: 576px) {
  .navigation-section .brand-name {
    font-size: 1rem; } }

/*# sourceMappingURL=navigation.css.map */
