        .navbar-brand {
            margin-right: 0px;
        }
        
        .logo_bar {
            margin-bottom: 1rem;
        }
        
        .navigation-section .navbar-nav .nav-item.dropdown {
            line-height: inherit !important;
        }
        
        .copyright_container div {
            /* width: calc( 100% / 9);
    float: left; */
            display: inline-block;
            padding: 0px 1.5rem;
            color: #fff;
            border-right: 1px solid #fff;
            font-size: 0.9rem;
        }
        
        .copyright_container div.last_item {
            border-right: none !important;
        }
        /*
.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
}*/
        
        .copy_right {
            font-size: 0.6rem;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0px;
            background-color: #eb9148 !important;
        }
        
        .copyright_container {
            width: 100%;
            text-align: center;
        }
        
        .fullWidth {
            width: 100%;
        }
        
        .noah_title {
            text-align: center;
            color: #d67445;
        }
        
        .content_wrapper {
            padding: 50px 0px;
        }
        
        .service_image_wrapper {
            padding: 30px;
        }
        
        .section_service {
            background-image: url(/public/images/noah/bg_service.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .content_bg {
            background-image: url(/public/images/noah/bg_content.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .section_choice {
            text-align: center;
            padding: 70px 0px;
            background-image: url(/public/images/noah/bg_reason.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .color_orange {
            color: #eb9148;
        }
        
        .service_sub_title {
            text-align: center;
            margin-top: 1rem;
        }
        
        .choice_desc {
            margin-bottom: 50px;
        }
        
        .white_border_right {
            border-right: 1px solid #fff;
        }
        
        .dis_inline {
            display: inline-block;
        }
        
        .dis_inline.vertical {
            vertical-align: top;
        }
        
        .business_hours {
            margin-top: 65px;
        }
        
        .footer_row {
            padding: 30px 20px;
            color: #fff;
        }
        
        .footer_section_2_wrapper {
            padding-left: 20px;
        }
        
        table {
            border-collapse: separate;
            border-spacing: 0 1em;
        }
        
        .map_section {
            width: 100%;
            padding-left: 10px;
        }
        
        .choice_icons {
            max-width: 180px;
        }
        
        .social_media_icon {
            width: 100%;
            padding: 0.8rem;
        }
        
        .cent {
            text-align: center;
        }
        
        .about_us_left {
            border-right: 1px solid #d67445;
            padding-right: 40px;
        }
        
        ul.init {
            margin: 0px;
            padding: 0px;
            padding-left: 20px;
        }
        
        ul li {
            padding: 10px 0px;
        }
        
        
        
        .home_about_us {
            position: absolute;
            top: 0px;
            width: 50%;
            right: 0px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 80px;
        }
        
        .enquiry_form_line {
            width: 100%;
        }
        /*.section_enquiry_form {
            padding-top: 50px;
            padding-bottom: 65px;
        }*/
        
        .bg_pink {
            background: #fdf4ed;
        }
        
        .home .custom-checkbox .custom-control-input.my-error~.custom-control-label::before {
            border-color: #f7ad7c;
            box-shadow: inset 0 0px 0px rgb(0 0 0 / 8%), 0 0 0px rgb(255 0 0 / 60%);
        }
        
        .home .custom-checkbox .custom-control-input.my-error~.custom-control-label::after {
            border-color: #f7ad7c;
            box-shadow: inset 0 0px 0px rgb(0 0 0 / 8%), 0 0 0px rgb(255 0 0 / 60%);
        }
        
        .home .custom-control-label::before {
            background: #fff;
            border: 1px solid #f7ad7c;
        }
        
        .home .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
            background-color: #f7ad7c;
        }
        
        .no-pl {
            padding-left: 0px;
        }
        
        .footer_icons {
            margin-left: -10px;
        }
        
        .header_icons_row {
            margin-top: 5px;
            max-width: 80%;
        }
        
        .header_icons_row a {
            display: block;
            cursor: pointer;
        }
        
        .pb100 {
            padding-bottom: 100px;
        }
        
        .service_feature_ul {
            margin: 0px;
            padding-top: 10px;
            padding-left: 18px;
            padding-right: 40px;
        }
        
        .row.service_area {
            width: 80%;
        }
        
        .breadcrumb.has_left_menu {
            padding: 0px !important;
        }
        
        .row.left_menu_row {
            padding: 2rem;
        }
        
        .left_menu_row .left_items.first {
            padding: 20px 0px;
            background: #f8f8f8;
            font-size: 1.3rem;
            font-weight: normal;
        }
        
        .left_menu_row .left_items,
        .left_menu_row .item {
            text-align: center;
            padding: 15px 0px;
            border-bottom: 1px solid #999;
            border-right: 1px solid #999;
            background-color: #fdf4ed;
            font-weight: bold;
        }
        
        .left_menu_row .collapse_items .item {
            font-weight: normal;
            background: #fff;
        }
        
        .left_menu_row .collapse_items .item.active {
            color: #fff;
            background: #eb9148;
        }
        
        .down_marker {
            position: absolute;
            right: 15%;
        }
        
        .left_menu_row a {
            display: block;
            cursor: pointer;
        }
        
        .left_menu_row .col-lg-3.order-lg-1 {
            min-height: 1000px;
        }
        
        .video_wrapper {
            margin-top: 3.5rem;
        }
        
        .collapse_items a {
            color: rgb(33, 37, 41);
        }
        
        .navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu {
            min-width: 15rem !important;
            border: none;
        }
        
        .dropdown-menu.show {
            position: absolute;
            left: -10px;
        }
        
        .navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li {
            padding-left: 0px !important;
            text-align: left !important;
        }
        
        .navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li a {
            padding-top: 5px;
            padding-bottom: 5px;
            color: #b97032;
        }
        
        .dropdown-menu {
            padding: 0px !important;
        }
        
        .dropdown-menu li {
            padding: 0px 0px !important;
        }
        
        .navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li a:hover {
            background-color: #b97032!important;
            color: white;
        }
        
        .nav-item {
            cursor: pointer;
        }
        
        .circle_image_wrapper {
            padding: 25px;
        }
        
        .circle_image_row a {
            display: block;
        }
        
        .circle_image_row a:hover {
            opacity: 0.8;
            color: #725e56;
        }
        
        .vaccine_name a {
            color: #725e56;
        }
        
        .vaccine_name {
            color: #725e56;
        }
        
        .vaccine_name a:hover {
            color: #725e56;
        }
        
        .check_page_pb {
            padding-bottom: 20px;
        }
        
        #enquiry_submit_btn {
            border: none;
            color: #fff;
            background: #d67445;
            display: inline-block;
            width: 100%;
            padding: 10px 60px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .thankyou_enquiry {
            min-height: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .social_media .nav li {
            padding: 0px;
        }
        
        .nav-link:hover {
            color: #725e56 !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            font-weight: bold;
        }
        
        .nav-link.active {
            color: #725e56 !important;
        }
        
        .navigation-section .navbar-nav .nav-item a.active {
            color: #725e56 !important;
        }
        /* .dropdown-menu.show {
            display: none;
        } */
        
        .detail_header_title {
            margin: 0 auto;
            max-width: 700px;
            padding: 35px 0px;
            text-align: center;
        }
        /* .detail_header_title span {
            display: inline-block;
            border: 1px solid #eb9148;
            width: 30px;
            vertical-align: top;
        } */
        
        .detail_header_title span {
            display: inline-block;
            border: 1px solid #eb9148;
            width: 30px;
            vertical-align: middle;
        }
        
        .enquiry_form_container {
            padding-top: 50px;
            padding-bottom: 65px;
        }
        /*
            .detail_image_wrapper {
                max-width: 350px;
            }*/
        
        .navigation-section .navbar-nav .nav-item.dropdown {
            padding-left: 15px !important
        }
        
        .coming_soon {
            min-height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .breadcrumb_current {
            color: #eb9148 !important;
        }
        
        .pb_100 {
            padding-bottom: 100px;
        }
        
        .rightmenu_items_wrapper {
            position: fixed;
            right: 0px;
            z-index: 2;
            width: 40px;
            margin-top: 20px;
            top: 320px;
        }
        
        .rightmenu_items_wrapper .right_menu_item {
            margin-bottom: 10px;
            background: #faa85f;
            font-size: 18px;
            color: #fff;
            text-align: center;
            text-align: center;
            padding: 20px 10px;
            font-weight: bold;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            -webkit-box-shadow: 0px 7px 18px -7px #000000;
            box-shadow: 0px 7px 12px -7px #000000;
        }
        
        .right_control .control {
            top: 530px !important;
        }
        
        .detail_content_row {
            padding: 3rem 0px 3rem 0px;
        }
        
        .detail_content_row.flex_center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .mb-xs-4 {
            margin-bottom: 30px;
        }
        
         ::marker {
            color: #efa76d !important;
        }
        
        .pt60_lg {
            padding-top: 60px;
        }
        
        ul.detail_ul {
            padding: 0px;
            padding-left: 20px;
        }
        
        .v-middle {
            vertical-align: middle;
        }
        
        .enquiry_green_btn {
            color: #fff;
            background: #008000ad;
            display: inline-block;
            padding: 5px 25px;
            border-radius: 5px;
            letter-spacing: 2px;
        }
        
        .detail_header_title.line_two {
            max-width: 100%;
        }
        /* .footer {
            margin-top: -25px;
        } */
        
        .v_top {
            vertical-align: top;
        }
        
        .circle_image {
            border-radius: 50%;
        }
        
        .col-12.col-lg-6.no_padding {
            padding-top: 0px !important;
            padding-left: 0px !important;
        }
        /*tmp mod*/
        
        .navigation-section .navbar-nav .nav-item.dropdown {
            margin-right: 30px;
        }
        
        .detail_main_name {
            display: inline;
            vertical-align: top;
        }
        /*start cms setting*/
        
        .img-fluid {
            width: 100%;
        }
        
        .circle_image_row .image {
            padding: 25px;
        }
        
        .detail_page_title {
            display: inline-block;
            text-align: left;
        }
        
        .nav-item.detail {
            position: relative;
        }
        
        .nav-item.detail::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translate(0px, -50%);
            color: #eb9148;
        }

        .social_media {
    position: fixed;
    top: 30%;
    left: 0;
    width: 50px;
    z-index: 10000;
}


.right_control .control{
    z-index:10000;
}
         
        
        .footer_block {
            min-height: auto !important;
        }
        /*end cms setting*/
        
        @media (min-width: 1200px) {
            .navbar-expand-xl .navbar-nav .dropdown-menu {
                position: absolute;
            }
        }
        
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            .form_wrapper {
                width: 100%;
                position: unset;
                width: 100%;
                left: 0px;
                transform: inherit;
            }
            .time_wrapper .col-4.col-lg-2 {
                margin-bottom: 10px;
                margin-top: 10px;
            }
            .booking_step_header .col-6.col-lg-3 {
                margin-bottom: 20px;
            }
            .social_media_icon {
                width: 100%;
                padding: 2.5rem;
            }
            .white_border_right {
                border-right: none;
            }
            .footer_section_2_wrapper {
                padding-left: 0px;
            }
            .about_us_left {
                border-right: none;
                padding-right: 0px;
            }
            .home_about_us {
                position: unset;
                top: 0px;
                width: 100%;
                /* margin-top: 50px; */
                padding: 30px 15px;
            }
        }
        
        .footer a {
            color: #fff;
        }
        
        .footer td {
            color: #fff;
        }
        
        a.home_cate_link:hover {
            color: #725e56;
        }
        
        .vt_top {
            vertical-align: top;
        }
        
        .vt_top.number {
            padding-right: 10px;
        }
        
        .enquiry_form_line {
            background: linear-gradient(#fe8464 0%, #cba58f 100%);
            width: 100%;
            height: 1.5px;
            margin-bottom: 30px !important;
            margin-top: 20px;
        }
        
        .section_choice.no_bg {
            background-image: none;
            padding: 30px 0px 70px 0px;
        }
        
        .bg_orange {
            background: #fe8464 !important;
        }
        
        .font_white {
            color: #fff;
        }
        
        .prevent_disease_row .col-6>div {
            padding: 8px 0px;
        }
        
        .prevent_disease_row .col-6 {
            background: #fff;
        }
        
        .prevent_disease_row .col-6:nth-child(even) {
            padding-left: 2px;
            background: #fdf4ed;
        }
        
        .prevent_disease_row .col-6:nth-child(odd) {
            padding-right: 2px;
            background: #fdf4ed;
        }
        
        .prevent_disease_row .col-6>div {
            background: #fff;
        }
        
        .font-justify {
            text-align: justify;
        }
        
        .detail_content_row .col-12.col-lg-6 {
            padding: 25px;
            text-align: justify;
        }
        
        .detail_header_title {
            max-width: 100%;
        }
        
        .bodycheck_form_wrapper {
            max-width: 85%;
            margin: 0 auto;
        }
        
        .detail_ul.less_padding li {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        
        .detail_ul.decimal {
            list-style: decimal;
        }
        
        .row.circle_image_row {
            padding-bottom: 30px;
        }
        
        .section_video {
            padding-bottom: 30px;
        }
        
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            #mobile_menu li {
                border-bottom: none !important;
            }
            .dropdown-toggle span {
                color: rgb(235, 145, 72) !important;
            }
            .nav-item.dropdown {
                text-align: center;
                font-weight: bold;
            }
            #mobile_menu li a {
                padding: 0px 0px !important;
            }
            #mobile_menu li {
                margin: 15px 0px;
            }
            .navbar-toggler.active .toggler-icon:nth-of-type(1) {
                -webkit-transform: rotate( 45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate( 45deg);
                top: 7px;
            }
            .navbar-toggler.active .toggler-icon:nth-of-type(2) {
                opacity: 0;
            }
            .navbar-toggler.active .toggler-icon:nth-of-type(3) {
                -webkit-transform: rotate( 135deg);
                -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate( 135deg);
                top: -7px;
            }
            .navbar-toggler .toggler-icon {
                width: 30px;
                height: 2px;
                background-color: #fff;
                display: block;
                margin: 5px 0;
                position: relative;
                -webkit-transition: all 0.3s ease-out 0s;
                -moz-transition: all 0.3s ease-out 0s;
                -ms-transition: all 0.3s ease-out 0s;
                -o-transition: all 0.3s ease-out 0s;
                transition: all 0.3s ease-out 0s;
            }
            .copyright_container div {
                padding: 0px 1.1rem;
            }
            .nav-item.detail::after {
                right: 38%;
            }
        }
        
        @media(max-width:1024px) {
            /* .home_about_us {
                position: unset;
                top: 0px;
                width: 100%;
                margin-top: 50px;
                padding: 0px 15px;
            } */
            .copyright_container div {
                display: inline-block;
                padding: 0px 1.05rem;
                color: #fff;
                border-right: 1px solid #fff;
                font-size: 0.9rem;
            }
        }
        
        @media(max-width:767px) {
            .nav-item.detail::after {
                right: 30%;
            }
            .service_image_wrapper {
                padding: 10px;
            }
            .detail_page_title {
                text-align: center;
            }
            .service_detail_row .detail_image_wrapper {
                margin-bottom: 20px;
            }
            .mt-xs-3 {
                margin-top: 30px;
            }
            .copyright_container div {
                width: 100%;
                float: none;
                color: #fff;
                border-right: 1px solid #fff;
                font-size: 1rem;
                padding: 5px 0px;
            }
            .reason_icons .col-6.col-lg-2 {
                margin-bottom: 30px;
            }
            .footer_row {
                padding: 40px 0px;
            }
            .footer_section_2_wrapper {
                padding-left: 0px;
            }
            .xs-mb-3 {
                margin-bottom: 30px;
            }
            .business_hours {
                margin-top: 0px;
            }
            .map_section {
                padding-left: 0px;
            }
            .about_us_left {
                border-right: none;
                padding-right: 0px;
            }
            .white_border_right {
                border: none;
            }
            .form_wrapper {
                width: 100%;
                position: unset;
                width: 100%;
                left: 0px;
                transform: inherit;
            }
            .booking_step_header .col-6.col-lg-3 {
                padding: 5px 0px;
            }
            .date_picker {
                max-width: 100%;
            }
            .form_content {
                padding: 30px 15px;
            }
            .booking_btn {
                width: auto;
            }
            .booking_time {
                width: 90%;
                margin: 0 auto;
            }
            .time_wrapper .col-4.col-lg-2 {
                margin-bottom: 10px;
            }
            .booking_step_header .col-6.col-lg-3 {
                margin-bottom: 5px;
                margin-top: 5px;
            }
            .comfirm_fields_value {
                margin-left: 0;
            }
            .comfirm_fields_title,
            .comfirm_fields_value {
                display: block;
            }
            .section_enquiry_form {
                padding-top: 0px;
            }
            .social_media_icon {
                width: 100%;
                padding: 1rem;
            }
            #mobile_menu li {
                padding: 0px !important;
                border-bottom: 0px !important;
            }
            #mobile_menu {
                width: 70% !important;
                /* width: 60vw; */
                /* height: 100%; */
                height: 80%;
                opacity: 0.9;
                background-color: white!important;
                transition: right 300ms ease-in-out;
                overflow: scroll;
                position: relative;
            }
            .navbar-toggler.active .toggler-icon:nth-of-type(1) {
                -webkit-transform: rotate( 45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate( 45deg);
                top: 7px;
            }
            .navbar-toggler.active .toggler-icon:nth-of-type(2) {
                opacity: 0;
            }
            .navbar-toggler.active .toggler-icon:nth-of-type(3) {
                -webkit-transform: rotate( 135deg);
                -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate( 135deg);
                top: -7px;
            }
            .navbar-toggler .toggler-icon {
                width: 30px;
                height: 2px;
                background-color: #fff;
                display: block;
                margin: 5px 0;
                position: relative;
                -webkit-transition: all 0.3s ease-out 0s;
                -moz-transition: all 0.3s ease-out 0s;
                -ms-transition: all 0.3s ease-out 0s;
                -o-transition: all 0.3s ease-out 0s;
                transition: all 0.3s ease-out 0s;
            }
            #mobile_menu li a {
                padding: 18px 0px;
            }
            .service_feature_ul {
                margin: 0px;
                padding-top: 10px;
                padding-left: 15px;
                padding-right: 0px;
            }
            .row.service_area {
                width: 100%;
            }
            .row.left_menu_row {
                padding: 0px;
                margin-top: 40px;
            }
            .left_menu_row {
                margin-left: -15px;
                margin-right: -15px;
            }
            .left_menu_row .left_items.first {
                border-top: 1px solid #999;
            }
            .left_menu_row .left_items,
            .left_menu_row .item {
                border-bottom: 1px solid #dddddd;
                border-right: 1px solid #dddddd;
                border-left: 1px solid #dddddd;
            }
            .breadcrumb {
                margin-left: 10px !important;
            }
            .left_menu_row {
                margin-bottom: 40px;
            }
            .left_menu_row .col-lg-3.order-lg-1 {
                min-height: auto;
            }
            .left_menu_row .col-lg-3.order-lg-1 {
                margin-top: 60px;
            }
            .dropdown-toggle {
                color: rgb(185, 112, 50) !important;
                margin-left: 18px !important;
                font-weight: bold !important;
            }
            .nav-item.dropdown {
                color: rgb(185, 112, 50) !important;
                text-align: center !important;
            }
            .dropdown-menu.show li a {
                text-align: right !important;
                padding: 10px 0px !important;
                padding-right: 10px !important;
            }
            #navbar .dropdown-menu {
                background-color: #fff !important;
            }
            .dropdown-menu.show {
                position: unset;
            }
            .mobile_menu {
                overflow: hidden;
            }
            .circle_image_wrapper {
                padding: 0px;
            }
            #mobile_menu li a {
                padding: 0px 0px !important;
            }
            .dropdown-toggle span {
                color: rgb(235, 145, 72) !important;
            }
            #mobile_menu li {
                margin: 15px 0px;
            }
            .nav-item a {
                display: block;
            }
            .detail_content_row {
                padding: 0px;
            }
            .detail_content_row.second {
                margin-top: 60px;
            }
            .pt30_xs {
                padding-top: 30px;
            }
            .detail_content_row .col-12.col-lg-6 {
                padding-right: 15px;
                padding-left: 15px;
            }
            .bodycheck_form_wrapper {
                max-width: 100%;
            }
            .detail_content_row .col-12.col-lg-6.order-lg-1 {
                /* margin-top: 20px; */
                padding-top: 0px;
            }
            .detail_content_row .col-12.col-lg-6.order-lg-2 {
                padding-bottom: 0px !important;
            }
            .detail_content_row.second {
                margin-top: 0px;
            }
            .detail_content_row.second .color_orange {
                margin-top: 20px;
            }
            .detail_content_row.second .col-12.col-lg-6.order-lg-1 {
                margin-bottom: 0px;
            }
            .detail_content_row.second .col-12.col-lg-6.order-lg-2 {
                padding-top: 0px;
            }
            .section_choice {
                text-align: center;
                padding: 70px 0px;
                background-image: url(/public/images/noah/bg_reason_m.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            .section_service {
                background-image: url(/public/images/noah/bg_service_m.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            .content_bg {
                background-image: url(/public/images/noah/bg_content_m.png);
            }
            .detail_image_wrapper.xs_pt {
                padding-top: 20px;
            }
            .home_about_us {
                position: unset;
                top: 0px;
                width: 100%;
                padding: 0px 15px;
            }
            /*start cms setting*/
            .img-fluid {
                width: 100%;
            }
            .circle_image_row .image {
                padding: 0px;
            }
            /*end cms setting*/
            /* .detail_content_row.second .col-12.col-lg-6.order-lg-1 {
                margin-top: 0px !important;
            }
            .detail_content_row.second .col-12.col-lg-6.order-lg-2 {
                padding-bottom: 0px !important;
            } */
        }