.posrel {
	position: relative;
}

.form_wrapper {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff;
	z-index: 999;
	width: 88%;
	max-width: 1160px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-height: 400px;
}

.booking_step_header {
	padding: 15px 0px;
	background-color: #fdf4ed;
}

.step_no {
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background: #ccc;
	color: #fff;
	line-height: 25px;
	margin-right: 5px;
}

.step_no.active {
	/* background: #fdf4ed; */
	background: #eb9148;
}

.date_picker {
	max-width: 40%;
}
/* .date_picker {
background-color: #d67445;
color: #fff;
} */

.booking_btn {
	background-color: #faa85f;
	width: 180px;
	padding: 10px 20px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.booking_prev_btn {
	display: inline-block;
}

.booking_next_btn {
	display: inline-block;
}

.text_right {
	text-align: right;
}

.booking_success {
	background-color: #fdf4ed;
	padding: 3rem 0px;
}

.booking_btn.center {
	margin: 0 auto;
	display: inline-block;
}

.form_content {
	padding: 30px 60px;
}

.booking_time {
	text-align: center;
	border: 1px solid #fccb9f;
	border-radius: 3px;
	padding: 5px 5px;
	width: 80%;
	color: #fccb9f;
}

.booking_time.active {
	background: #eb9148;
	color: #fff;
}

.time_wrapper .col-4.col-lg-2 {
	margin-bottom: 20px;
	cursor: pointer;
}

.vaccine_row .col-6.col-lg-3 {
	margin-bottom: 10px;
}

.vaccine_row [type="radio"] {
	display: inline-block;
	width: 20px;
	vertical-align: top;
	margin-top: 5px;
}

.vaccine_row label.form-check-label {
	display: inline-block;
	width: calc(100% - 25px);
	cursor: pointer;
}

.submit_form .form-control {
	border-color: #f4b081;
}

.comfirm_fields_title {
	font-weight: bold;
}

.comfirm_fields_value {
	margin-left: 1rem;
}
.posrel {
	position: relative;
}

.form_wrapper {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff;
	z-index: 999;
	width: 88%;
	max-width: 1160px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-height: 400px;
}

.booking_step_header {
	padding: 15px 0px;
	background-color: #fdf4ed;
}

.step_no {
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background: #ccc;
	color: #fff;
	line-height: 25px;
	margin-right: 5px;
}

.step_no.active {
	/* background: #fdf4ed; */
	background: #eb9148;
}

.date_picker {
	max-width: 40%;
}
/* .date_picker {
background-color: #d67445;
color: #fff;
} */

.booking_btn {
	background-color: #faa85f;
	width: 180px;
	padding: 10px 20px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.booking_prev_btn {
	display: inline-block;
}

.booking_next_btn {
	display: inline-block;
}

.text_right {
	text-align: right;
}

.booking_success {
	background-color: #fdf4ed;
	padding: 3rem 0px;
}

.booking_btn.center {
	margin: 0 auto;
	display: inline-block;
}

.form_content {
	padding: 30px 60px;
}

.booking_time {
	text-align: center;
	border: 1px solid #fccb9f;
	border-radius: 3px;
	padding: 5px 5px;
	width: 80%;
	color: #fccb9f;
}

.booking_time.active {
	background: #eb9148;
	color: #fff;
}

.time_wrapper .col-4.col-lg-2 {
	margin-bottom: 20px;
	cursor: pointer;
}

.vaccine_row .col-6.col-lg-3 {
	margin-bottom: 10px;
}

.vaccine_row [type="radio"] {
	display: inline-block;
	width: 20px;
	vertical-align: top;
	margin-top: 5px;
}

.vaccine_row label.form-check-label {
	display: inline-block;
	width: calc(100% - 25px);
	cursor: pointer;
}

.submit_form .form-control {
	border-color: #f4b081;
}

.comfirm_fields_title {
	font-weight: bold;
}

.comfirm_fields_value {
	margin-left: 1rem;
}
