#member-section {
	background-color: #edeaf3;
}

#member-section .container .breadcrumb {
	padding: 0.5rem 0 !important;
	font-size: 14px;
}

/* Login Form */
#member-section .login-form {
	border-left: 3px solid #edeaf3;
}

#member-section .member .login-form .regnforget a div {
	color: #333;
}

@media (max-width: 767px) {
	/* Login Form */
	#member-section .login-form {
		border-left: none;
	}
	#member-section .login-form .login-form-wrapper {
		border-top: 3px solid #edeaf3;
	}
}
