.sidebar {
  color: #fff;
  margin-bottom: 40px; }
  .sidebar .sidebar-block {
    min-height: 700px;
    background-color: #e5e6eb; }
  .sidebar .active {
    background-color: #084c94;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .sidebar .sidebar-title {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #999;
    border: 1px solid #fff; }
  .sidebar .sidebar-items {
    font-size: 1rem;
    text-align: center;
    background-color: #999;
    border: 1px solid #fff; }
    .sidebar .sidebar-items a {
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: #fff;
      text-decoration: none;
      display: block;
      width: 100%; }

@media screen and (max-width: 992px) {
  .sidebar .sidebar-block {
    min-height: unset; } }

/*# sourceMappingURL=sidebar.css.map */
