.view-container {
	background-color: #ffffff;
	padding: 1em;
}

.view-container .text {
	color: #797979;
	line-height: 15px;
	font-size: 13px;
	text-transform: capitalize;
}

.view-container .btn:not(.btn-edit) img {
	padding-bottom: 5px;
	padding-right: 3px;
}

.view-container .field-attribute {
	color: #7ac943;
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
	border-bottom: 3px solid #7ac943;
}

.view-container .odd {
	background-color: #ffffff;
}
.view-container .even {
	background-color: #f2f2f2;
}

.view-container input,
.view-container select {
	height: 34px;
}

.view-container .page-navigation input {
	text-align: center;
}

body .modal .modal-body input,
body .modal .modal-body select {
	padding: 6px 12px;
	height: 34px;
}

body .table-toolbar {
	text-align: left;
	list-style: none;
	min-height: 34px;
	margin: 13px 0;
	border: none;
	background-color: #ffffff;
	padding: 0;
	position: relative;
	z-index: 3;
}

body .table-toolbar .btn-default {
	border: none;
}
.view-container .view-container-search-bar .element .btn {
	border: none;
}
.view-container .view-container-search-bar .element.pl-0 {
	padding-left: 0;
}
.view-container .view-container-search-bar .d-inline-block {
	display: inline-block !important;
}
.view-container .view-container-search-bar .w-auto {
	width: auto !important;
}
.view-container .general-search-container {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	width: 288px;
}
.view-container .general-search-btn {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	background: #797979;
	padding: 7px;
	border: none;
}

.view-container .page-size-limit,
.view-container .page-navigation {
	padding: 0 10px;
}

.view-container [type="checkbox"] {
	position: relative;
	top: 2px;
	width: 12px;
	height: 12px;
}

.view-container table * {
	font-size: 13px;
	color: #797979;
}

.view-container .btn-edit,
.view-container .btn-profile {
	width: 28px;
	height: 28px;
	padding: 0;
	margin-right: 7px;
	padding-bottom: 0 !important;
	background-color: transparent;
}

.view-container .btn-edit img,
.view-container .btn-profile i {
	width: 24px;
	height: 24px;
	font-size: 19px;
	line-height: 23px;
}

body .table > tbody > tr > td,
body .table > tbody > tr > th,
body .table > tfoot > tr > td,
body .table > tfoot > tr > th,
body .table > thead > tr > td,
body .table > thead > tr > th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}

body .fc-border-separate thead tr,
body .table thead tr {
	background: white;
	font-size: 12px;
}

body .table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #ffffff;
}
body .table-striped > tbody > tr:nth-child(even) > td {
	background-color: #f2f2f2;
	/* color: white;   */
}
body table.dataTable {
	width: 100%;
	margin: 0 auto;
	clear: both;
	border-collapse: separate;
	border-spacing: 0;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	font-family: -webkit-body;
	border: 2px solid #f5f5f5;
}
body table.dataTable thead th,
body table.dataTable thead td {
	border-bottom: 3px solid #79c942;
}

body .modal-backdrop {
	background-color: #000;
}

body .modal.in {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

body .modal .modal-title {
	background-color: #ee4130;
	line-height: 37px;
	color: #ffffff;
	text-align: center;
}

body .modal .modal-title i {
	display: inline-block;
	padding-right: 7px;
}

body .modal .modal-body .text {
	/* width: 100px; */
	display: inline-block;
	color: #7b7b7b;
	font-size: 13px;
	/* text-align: left; */
}

body .modal .modal-body .hint-text {
	/* width: 100px; */
	display: inline-block;
	color: #7b7b7b;
	font-size: 8px;
	/* text-align: left; */
}

body .modal .modal-body input {
	background-color: #ffffff !important;
	border-color: #a9a9a9;
}

body .modal .modal-body [type="checkbox"] {
	position: relative;
	width: 12px;
	height: 12px;
}

body .modal .modal-footer {
	background-color: #ffffff !important;
}

body .modal .modal-footer .btn.modal-confirm {
	background-color: #ee4130 !important;
	width: 100%;
	color: #ffffff;
	line-height: 23px;
}

.modal-delete .modal-footer {
	padding: 0;
	margin: 0;
	padding-top: 15px;
}

.view-container table tr td.no-results {
	text-align: center;
}

/*datetimepicker addon*/
.input-group-addon {
	background-image: none !important;
	background: #797979;
	border-color: #797979;
	color: #c9c9c9;
}

/*emoji-picker*/
.lead.emoji-picker-container {
	width: 300px;
	display: block;
}

body .emoji-wysiwyg-editor {
	min-height: 200px !important;
	padding-top: 6px !important;
	padding-left: 12px !important;
	outline: none;
	border-color: #a9a9a9 !important;
	color: #797979;
}

body .emoji-picker-icon {
	cursor: pointer;
	position: absolute;
	right: 26px;
	top: 6px;
	font-size: 20px;
	opacity: 0.7;
	z-index: 100;
	transition: none;
	color: #797979;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body .emoji-menu {
	position: absolute;
	top: 28px;
	right: 24px;
	z-index: 999;
	width: 225px;
	overflow: hidden;
	border: 1px #dfdfdf solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
}

body .page-content textarea {
	padding: 6px 12px;
	background-color: #ffffff;
	border-color: #a9a9a9;
}
body .page-content select,
body .page-content input {
	padding: 6px 12px;
	background-color: #ffffff;
	border-color: #a9a9a9;
	border-radius: 0;
}
body .page-content input[hidden] {
	display: none;
}

.view-container-report-filter-bar {
	margin-top: -15px;
	margin-bottom: 15px;
	padding: 6px 15px;
	background-color: #78c841;
}

.view-container-report-filter-bar span.text {
	color: #ffffff;
}

.view-container-report-filter-bar .d-inline-block {
	display: inline-block;
	padding: 0 10px;
}

.view-container-report-filter-bar .w-auto {
	width: auto;
}

.view-container-report-filter-bar select,
.view-container-report-filter-bar #dates {
	height: 25px;
	padding: 0 6px !important;
}

.view-container-report-filter-bar #dates {
	background: #fff;
	cursor: pointer;
	border: 1px solid #d5d5d5;
	vertical-align: top;
}

.view-container-report-filter-bar #dates * {
	vertical-align: middle;
	line-height: 23px;
}

body .daterangepicker select.monthselect,
body .daterangepicker select.yearselect {
	width: 50%;
}

body .daterangepicker.opensright .ranges,
body .daterangepicker.opensright .calendar {
	float: left;
	margin: 4px;
}

body .daterangepicker .ranges li:hover {
	border: 1px solid #d56fe7;
	color: #d56fe7;
}

.view-container-search-bar .stats {
	padding-left: 10px;
	padding-right: 50px;
}

body .breadcrumb > li a {
	color: #797979;
}

body .breadcrumb > li.active {
	color: #ef4130;
}
/* 
.view-container table.dataTable * {
  text-transform: capitalize;
} */

.form-check-label,
.clickable {
	cursor: pointer;
}

.page-size-limit .limit {
	cursor: pointer;
}

.upload_image-output {
	max-height: 120px;
	width: 100%;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	display: none;
}

.upload_image-output.has-output {
	display: block;
}

.upload_image-output img {
	margin: auto;
	max-height: 120px;
	width: auto;
	max-width: 100%;
}

.view-container-title-bar {
	margin-top: -15px;
	margin-bottom: 15px;
	padding: 6px 15px;
	background-color: #78c841;
}

.view-container-title-bar span.text {
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 1.5px;
	color: #ffffff;
	vertical-align: middle;
}

.view-container-search-bar .radio-element {
	margin-right: 20px;
}

.view-container-search-bar .radio-element label {
	color: #797979;
	font-size: 13px;
	text-transform: capitalize;
}

.view-container-search-bar input[type="radio"] {
	margin-left: 0;
	width: 12px;
	height: 12px;
	vertical-align: middle;
}
