.background {
    display: fixed;
    background-image: linear-gradient(to right, rgba(255, 235, 204, 1) 50%, rgba(255, 255, 255, 1) 50%);
    width: 100%;
    height: 100%;
}

.right_side {
    background-color: white!important;
}

.Title {
    color: #FF9900;
    font-weight: 100;
}



.image_zone {
    position: absolute;
    width: 100%;
    min-height: 400px;
    background-color: #FFEBCC;
}

.textbox {
    border-color: #FF9900;
}

.larger {
    font-size: 1.5rem!important;
}

.photo_frame {
    margin: 15px 0px;
}

.left_side {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .left_side {
        order: 2;
        width: 100%;
        text-align: center;
    }
    .background {
        background-image: linear-gradient(to right, rgba(255, 235, 204, 1) 100%, rgba(255, 255, 255, 1) 50%);
    }
    .right_side {
        order: 1;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
}