

.Title {
    color: #FF9900;
    font-weight: 200!important;
   
}

.sub_Title{
    color: #FF9900;
    font-weight: 200!important;
    font-size: 1.5rem;
}

.textbox {
    border-color: #FF9900;
}

.larger {
    font-size: 1.5rem!important;
}

.left_images {
  
  
    margin-bottom: 10px;
}

.image_resize{
    max-height:calc(100% - 24px);
}


.push_up{
    vertical-align: top;
}

.app_access_image{
    max-width:280px;
    max-height:100px;
}

.platform_logo{
    width:50%;
    height:auto;
}

.none{
    margin:0px!important;
    padding:0px!important;
    font-size:1rem!important;
    line-height:unset!important;
}

p span{
    font-weight:bold;
}

.SD_app_screen_shots{
    display:none;
}

@media(max-width: 992px) {
    .left_side{
        order: 2;
        width:100%;
        text-align: center;

    }

    .SD_app_screen_shots{
        display:block;
        margin:20px;
    }

    .left_side{
        display:none;
    }

    .platform_logo{
        width:80%;
        height:auto;
    }
    .textbox{
        height:unset!important;
    }

    .photo_frame{
        margin: 15px 0px;
        position: relative;
        float: unset;
    }

    .background{
        background-image:linear-gradient(to right, #FFDFE3 100%, rgba(255,255,255,1) 50%);
    }

    .right_side{
        order:1;
        padding-left: 30px;
        padding-right:30px;
    }
}