.Title {
    color: #FF0034;
}

.case_odd {
    background-color: rgba(255, 205, 214);
    
}

.case_even {
    background-color: white;
   
}

.textbox{
    border-color:rgba(248,0,58);
}

.case_text_left {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 0%;
    text-align: left;
}

.push_up {
    vertical-align: top;
}

.push_up>img {
    margin-top: -20px;
}

.none {
    margin: 0px!important;
    padding: 0px!important;
}

.case_text_right {
    margin-top: 15%;
    margin-left: 0%;
    margin-right: 10%;
    text-align: left;
}

.icon_bar {
    width: 100%;
    height: 100%;
    margin-top:2rem;
}




.icon_bar>tbody>tr>td {
    text-align: -webkit-center;
    color: #4D4D4D;
    padding: 10px;
}

.icon_bar>tbody>tr>td>h4 {
    font-weight: bold;
}

.list_image {
   
    margin: 20px;
}

.mini_table {
    text-align: center;
}

.mini_table>div {
    margin: 20px;
    width:100%;
}

.mini_table>div>h4 {
    color: rgba(216, 31, 75);
    font-weight: bold;
}

.pagination {
    display: inline-block;
    position: relative;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    color: white!important;
    background-color: pink;
}

.marker_left {
    display: inline;
    right: 100%;
}

.mini_icon{
    max-height: 130px;
    max-width:130px;
    border-radius: 50%;
}


@media (max-width: 992px) {
    .case_text_right{
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 0%;
        text-align: left;
        order:1;
    }

    .picture_frame{
        order:2;
        text-align: center;
    }

    .text_frame{
        order:1;
    }

    .mini_icon{
        max-height:80px;
        max-width:80px;
    }

    .mini_table>div>h4 {
        color: rgba(216, 31, 75);
        font-weight: bold;
        font-size: 1rem;
    }

    .selling_point_section{
        padding-top:50px;
        white-space: nowrap;
    }
    

    .pagination a {
        padding: 4px 8px;
    }
}