.Title_underline {
    border-color: rgba(223, 175, 163);
}

.extra_padding {
    padding-top: 30px;
}

.Title {
    color: #FF4C1F!important;
}

.Title_underline {
    border-color: #FF4C1F;
}

.contact_us_form {
    max-width: 600px;
}

.slogan {
    font-size: 1.8rem;
    text-align: center;
    vertical-align: middle;
}

.form_button {
    width: 100%;
    height: auto;
    background-color: rgba(255, 75, 32);
    color: white;
    border: none!important;
    font-size: 2rem;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.container_Title {
    display: none;
}

@media(max-width: 992px) {
    .Title_underline {
        display: none!important;
    }
    .form_frame {
        padding: 20px;
        border-top: 1px solid #FF4C1F!important;
        border-left: 1px solid #FF4C1F!important;
    }
    .Title {
        display: none;
    }
    .container_Title {
        display: block;
        text-align: left;
        color: #FF4C1F!important;
    }
    .slogan {
        font-size: 1.2rem;
        text-align: center;
        vertical-align: middle;
    }
    .contact_us_form {
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
}