.navigation-section .navbar-nav .nav-item a {
    color: #4D4D4D!important;
}

/*
.navigation-section .navbar-nav .nav-item a:hover {
    background-image: radial-gradient(rgba(255,153,0,0.3), white);
    color:#FF9900!important;
}*/

.dropdown-menu {
    padding-left: 0px!important;
}

.navigation-section .navbar-nav .nav-item a.selected {
    background-image: radial-gradient(rgba(255, 153, 0, 0.3), white);
    color: #FF9900!important;
}

.navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li a:hover {
    background-color:rgba(255, 149, 0)!important;
    color:white!important;
}

.container {
    max-width: 1200px;
}

.carousel-indicators li {
    background-color: white!important;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
    background-color: #FF9900!important;
}

.toolbar {
    float: right;
    position: relative;
}

.nav_container {
    margin: 0 18%;
    height: 100%;
    max-height: 150px;
}

.breadcrumb {
    background-color: white!important;
    align-items: center;
}

.Title {
    /*   font-size: 2.2rem!important;*/
}

.Title strong {
    font-weight: bold;
}

h1 span {
    font-weight: bold;
}

.background_image {
    display: absolute;
    right: 0;
}

.full_row {
    width: 100%;
}

.no_margin_no_padding {
    margin: 0!important;
    padding: 0!important;
}

.no_margin_no_padding>div {
    margin: 0!important;
    padding: 0!important;
}

.breadcrumb_current {
    color: #FF4C1F;
}

.breadcrumb_noncurrent {
    color: rgba(0, 0, 0, 0.3);
}

.background {
    display: fixed;
    background-image: linear-gradient(to right, #FF9900 50%, rgba(255, 255, 255, 1) 50%);
    width: 100%;
    height: 100%;
}

.right_side {
    background-color: white;
}

.textbox {
    border-top: 1px solid rgba(220, 224, 3);
    border-left: 1px solid rgba(220, 224, 3);
    /*height: calc(100% - 50px);*/
}

.textbox_text {
    margin-top: 20px;
    margin-left: 20px;
}

.textbox p {
    color: #4D4D4D;
    line-height: 2!important;
    font-size: 1.2rem;
}

.textbox p strong {
    font-weight: bold;
}

.footer_container {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 900px;
}

.footer_col {
    color: black;
    padding-left: 5px;
    padding-right: 10px;
    border-right: 1px solid black;
}

.hyperlink_list {
    text-align: center;
}

.hyperlink_list a {
    text-align: center;
    align-items: center;
}

.hyperlink_list_header {
    color: rgba(255, 149, 0);
    font-weight: bold;
}

.footer_padding {
    padding-bottom: 50px;
}

.footer_col_end {
    color: black;
    padding-left: 5px;
    padding-right: 3px;
}

.footer_col:hover {
    color: black;
    text-decoration: none;
}

.full_footer {
    border-top: 3px solid #FF9900;
}

.footer_bar {
    background-color: #FF5E74;
    text-align: center;
    color: white!important;
    height: 100%;
    min-height: 50px;
}

.icon_bar {
    width: 100%;
    height: 100%;
}

.icon_bar>tbody>tr>td {
    text-align: -webkit-center;
    color: rgba(216, 31, 75);
    padding: 10px;
}

.icon_bar>tbody>tr>td>h3 {
    font-weight: bold;
}

section {
    border-bottom: 3px solid #FF9900;
}

.banner_image {
    width: 100%;
    height: auto;
}

.chatbot {
    position: fixed;
    top: 90vh;
    right: 2vw;
}

.chatbot_expand {
    display: none;
    position: fixed;
    top: calc(90vh - 30px - 213px);
    right: 2vw;
}

.chatbot_expand>img {
    margin: 5px 0px;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.chatbot>img {
    margin: 5px 0px;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.hyperlink_list {
    border-left: 1px solid rgba(255, 149, 0);
    border-right: 1px solid rgba(255, 149, 0);
}

.social_media {
    border-right: 1px solid rgba(255, 149, 0);
    text-align: center;
}

.social_media>a>img {
    max-height: 40px;
    max-width: 40px;
    margin: 20px 20px;
}

.footer_copyright {
    position: relative;
    top: 13px;
}

#navbar {
    width: 66%!important;
    right: 0!important;
    left: unset!important;
    padding-top: 0px!important;
    background-color: unset!important;
}

#navbar .nav-item.even {
    background-color: rgba(255, 164, 143);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    /*z-index:1;*/
}

#navbar .nav-item.odd {
    background-color: rgba(255, 199, 208);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    /*  z-index:1;*/
}

#navbar .nav-item.odd.last {
    background-color: rgba(255, 199, 208);
    box-shadow: none!important;
    /*  z-index:1;*/
}

#navbar .nav-item a {
    color: white!important;
    font-weight: bold!important;
    text-align: center!important;
    font-size: 1rem;
    padding: 15px;
    text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
}

.SD_footer {
    display: none;
}

.SD_banner_image {
    display: none;
}

.navbar-toggler {
    padding: 1px 6px!important;
}

.navbar-toggler-icon {
    width: 1em!important;
    height: 1em!important;
}

@media screen and (max-width: 1199px) {
    .main_container {
        margin-left: 5px;
        margin-right: 5px;
    }
    .dropdown-menu {
        background-color: unset!important;
        padding-left: 0px!important;
    }
    .navigation-section .navbar-nav .nav-item.dropdown .dropdown-menu li a:hover {
        background-color: unset!important;
    }
    .footer_copyright {
        font-size: 0.5rem;
    }
    #logo {
        height: 4rem;
    }
    .logo {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .banner_image {
        display: none;
    }
    .SD_banner_image {
        display: block;
        width: 100%;
        height: auto;
    }
    .footer_container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .nav_container {
        margin: 0 0%;
        height: 100%;
        max-height: 150px;
    }
    .W_footer {
        display: none;
    }
    .SD_footer {
        display: inline-block;
    }
    hr {
        border-color: rgba(255, 149, 0);
    }
    .SD_footer .hyperlink_list {
        border-left: none!important;
        border-right: none!important;
        display: inline-block;
    }
    .SD_footer .social_media {
        border-left: none!important;
        border-right: none!important;
        display: inline-block;
    }
    .SD_footer_container {
        text-align: center;
    }
    .chatbot {
        position: fixed;
        top: 90vh;
        right: 2vw;
    }
    .chatbot_expand {
        display: none;
        position: fixed;
        top: calc(90vh - 30px - 120px);
        right: 2vw;
    }
    .chatbot_expand>img {
        max-width: 40px;
        max-height: 40px;
        margin: 5px 0px;
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
    }
    .chatbot>img {
        max-width: 40px;
        max-height: 40px;
        margin: 5px 0px;
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
    }
    .textbox_text {
        margin-top: 20px;
        margin-left: 20px;
    }
    .textbox p {
        color: #4D4D4D;
        line-height: 2!important;
        font-size: 1rem;
        line-height: 2;
    }
    .textbox p strong {
        font-weight: bold;
    }
}