.index_Textbox {
    border-top: 1px solid #960000;
    border-left: 1px solid #960000;
    
    max-width: 60%;
    max-height: 100%;
    min-height: 300px;
}


.Title{
    color:#960000!important;
}

.W_background {
    background-image: url(../../../images/index_background.png);
    background-repeat: no-repeat;
    background-position: right;
       }

    .index_Textbox {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 30px;
         font-size: 1.2rem;
         color:#4D4D4D;
     }

     .main_container {
        padding-top: 30px;
        padding-bottom: 50px;
    }
     
     .index_Textbox p span {
       font-weight:bold;
      }

      .SD_background{
        display: none;   
      }
     
      @media (max-width: 992px) {
        .index_Textbox {
            border-top: 1px solid  #960000;;
            border-left: 1px solid  #960000;;
            max-width: 100%;
            max-height: 100%;
            min-height: 300px;
           
        }

        .index_Textbox p{
            font-size: 1.2rem;
        }
        .main_container{
            padding-top: 30px;
            padding-bottom: 0px;
        }

     


        .W_background{
            background-image: unset!important;
        }
        .SD_background{
            display: block;   
            }
      }