.Title {
    color: #FF4C1F;
}

.textbox {
    border-color: #FF4C1F;
}

.image_zone {
    background-color: #FFDBD2;
}

.photo_frame {
    margin: 15px 0px;
}

.textbox_text{
    margin-top: 20px;
    margin-left:20px;
}

.textbox p {
    
    color: #4D4D4D;
}

.textbox p span {
    font-weight: bold;
}

.background {
    display: fixed;
    background-image: linear-gradient(to right, #FFDBD2 50%, rgba(255, 255, 255, 1) 50%);
    width: 100%;
    height: 100%;
}

.right_side {
    background-color: white!important;
}

.larger {
    font-size: 1.5rem!important;
}

.no_right_margin {
    margin-right: 0px!important;
}

.week_table {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1.2rem;
}

.week_table>tbody>tr>td {
    padding-top: 20px;
    line-height:2;
}

.push_up {
    text-align: right;
    vertical-align: top;
    color: #FF4C1F;
    white-space: nowrap;
}

@media screen and (max-width: 992px) {
    .left_side {
        order: 2;
        width: 100%;
        text-align: center;
    }

    .week_table>tbody>tr>td{
        font-size:1rem;
        line-height:2;
    }
    .textbox p {
      
        color: #4D4D4D;
    }
    .textbox p span {
        font-weight: bold;
    }

    .week_table {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 1.2rem;
    }
    .photo_frame {
        margin: 15px 0px;
        position: relative;
        float: unset;
    }
    .background {
        background-image: linear-gradient(to right, #FFDFE3 100%, rgba(255, 255, 255, 1) 50%);
    }
    .right_side {
        order: 1;
        padding-bottom: 20px;
        padding-left:30px;
        padding-right:30px;
    }
}