.Title{
    color:#FF0034;
}

.textbox{
    border-color:#FF0034;
}

.image_zone{
    background-color:#FFDFE3;
}

.photo_frame{
    margin: 15px 0px;
    position: relative;
    float: right;
}

.background{
    display:fixed;
    background-image:linear-gradient(to right, #FFDFE3 50%, rgba(255,255,255,1) 50%);
    width:100%;
    height:100%;
}

.right_side{
    background-color:white!important;
}

.textbox p {
   
    color: #4D4D4D;
}

.textbox p span {
    font-weight: bold;
}

.left_side{
    text-align: center;
}


@media screen and (max-width: 992px) {
    .left_side{
        order: 2;
        width:100%;
        text-align: center;

    }

    .textbox p {
            
        color: #4D4D4D;
    }

    .photo_frame{
        margin: 15px 0px;
        position: relative;
        float: unset;
    }

    .background{
        background-image:linear-gradient(to right, #FFDFE3 100%, rgba(255,255,255,1) 50%);
    }

    .right_side{
        order:1;
        padding-bottom:20px;
        padding-left:30px;
        padding-right:30px;
    }
}