.breadcrumb>li>a {
  color: #ef4130;
}

.navbar {
  display: block;
}

.dropdown-toggle::after {
  content: none;
}

.breadcrumb>li {
  display: inline-block;
}

.breadcrumb>li+li::before {
  padding: 0 5px;
  content: "/\00a0";
}

.nav.sidebar-menu {
  display: block;
}

.navbar .navbar-inner {
  background-color: #ef4130;
  min-height: 75px;
}

.page-sidebar .sidebar-header-wrapper .searchicon {
  color: #ef4130;
}

.page-header .header-title h1 {
  font-weight: bold !important;
  color: #ef4130;
  border-bottom: 3px solid #ef4130;
}

.page-sidebar .sidebar-menu li:before {
  background-color: #ef4130;
}

.main-admincontent .page-body {
  padding-top: 2.5em;
  padding-left: 4.5em;
  font-size: 1.2em;
}

.main-admincontent .page-body img {
  max-width: 90%;
}

.main-admincontent .page-body .row.bodyrow:first-child {
  margin-bottom: 4em;
}

.main-admincontent .page-body .timespan {
  font-size: 0.9em;
}

.main-admincontent .page-body .total {
  font-size: 1em;
}

.login-area>section {
  padding-top: 0.8em;
  padding-right: 1em;
}

.page-header .header-buttons a.fullscreen:before {
  background-color: palegreen;
}

.page-header .header-buttons a.refresh:before {
  background-color: darkorange;
}

.page-header .header-buttons a.sidebar-toggler:before {
  background-color: #d56fe7;
}

.table-toolbar {
  text-align: left;
  list-style: none;
  min-height: 34px;
  margin: 31px 0 13px 0;
  border: 1px solid #eef8f9;
  background-color: #ffffff;
  padding: 0;
  position: relative;
  z-index: 3;
}

.page-body .table-toolbar li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.page-body .table-toolbar .toolbar-element {
  all: unset;
  font-size: 0.8em;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 0 20px;
  vertical-align: middle;
  cursor: pointer;
}

.page-body .table-toolbar .toolbar-element i {
  color: #8a8889;
  margin-right: 8px;
  line-height: 30px;
  display: inline;
  font-size: 14px;
}

.page-body .table-toolbar .toolbar-element.search input[type="search"] {
  margin-left: 5px;
  display: inline-block;
  width: auto;
  height: 26px;
  padding-top: 0;
  padding-bottom: 0;
  border-color: #84cbd1;
  border-radius: 2px;
  top: 0;
  position: relative;
}

.toolbar-element .pagenum {
  margin: 0 0.5em;
  width: 10%;
}

.dataTables_wrapper table.dataTable th.control-delete.sorting_disabled .checkbox-delete-all {
  position: relative;
  left: 3px;
  top: 4px;
  opacity: 1 !important;
}

.dataTables_wrapper .checkbox-delete {
  position: initial !important;
  opacity: 1;
}

.toolbar-element .pagesize, .toolbar-element .recorddisplay {
  font-weight: bold;
}

.toolbar-element .pageinfo {
  display: inline-block;
  padding-right: 1em;
}

#myTable th {
  color: #7ac943;
}

#myTable th.control-delete {
  padding-left: 0;
}

#myTable td.control-details {
  padding-left: 1.5em;
  cursor: pointer;
}

#myTable th.sorting {
  padding-left: 1em;
}

.form-footer {
  border-top: 1px solid #ef4130;
  padding-top: 1em;
}

.form-footer .btn-footer {
  background-color: #ef4130;
  color: #ffffff;
}

.page-body .titlebar {
  background-color: #7ac943;
  color: #ffffff;
  padding: 0.5em;
}

.page-body .titlebar>span {
  font-weight: bold;
  letter-spacing: 0.1em;
}

.page-body .titlebar .controls {
  list-style-type: none;
  float: right;
}

.page-body .titlebar .controls li {
  font-size: 0.9em;
  float: left;
  padding-right: 1em;
  cursor: pointer;
}

.page-body .titlebar .controls li i {
  padding-right: 0.2em;
}

.page-body .form-container {
  padding: 1em;
}

.page-body .form-inline .row {
  margin-bottom: 1em;
}

.page-body .form-inline .row label {
  vertical-align: top;
  margin-right: 1em;
}

.page-body .form-inline .row input, .page-body .form-inline .row input {
  width: 20%;
}

.page-body .form-inline .row input, .page-body .form-inline .row textarea {
  margin-right: 1em;
}

.page-body .form-inline #btnSubmit {
  background-color: #7ac943;
  color: #ffffff;
  width: 12em;
  margin-top: -3em;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 10000;
}

.coursecontent {
  padding-top: 1em;
  padding-left: 1em;
}

.coursecontent span {
  font-size: 0.9em;
}

#coursetbl {
  text-indent: 2em;
  width: 100%;
}

#coursetbl thead {
  /*padding:.5em;*/
  line-height: 230%;
}

#coursetbl tbody {
  line-height: 180%;
}

#coursetbl tfoot {
  font-weight: bold;
  line-height: 200%;
}

/* Create two equal columns that floats next to each other */

.coursecolumn {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

.courserow:after {
  content: "";
  display: table;
  clear: both;
}

#myTable .fa {
  cursor: pointer;
}

.navbar-brand {
  padding-left: 29px !important;
}

body .navbar {
  padding: 0;
  margin: 0;
  border: none;
  height: 76px;
  min-height: 75px;
  z-index: 200;
}

.navbar-header.pull-left {
  margin-left: -15px;
  background-color: #ffffff;
  width: 229px;
  padding-top: 30px;
}

body .navbar .sidebar-collapse {
  text-align: center;
  padding: 0;
  top: 0;
  z-index: 2;
  width: 35px;
  height: 45px;
  position: absolute;
  left: 224px;
  top: 30px;
}

body .navbar .sidebar-collapse .collapse-icon {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  padding: 16px 5px 0px 5px;
  line-height: 22px;
  position: relative;
  -webkit-transition: background-color 0.218s ease;
  -moz-transition: background-color 0.218s ease;
  -o-transition: background-color 0.218s ease;
  transition: background-color 0.218s ease;
  -webkit-transition: -webkit-box-shadow 0.218s ease;
  -moz-transition: -moz-box-shadow 0.218s ease;
  -o-transition: box-shadow 0.218s ease;
  transition: box-shadow 0.218s ease;
  -webkit-transition: color 0.318s ease;
  -moz-transition: color 0.318s ease;
  -o-transition: color 0.318s ease;
  transition: color 0.318s ease;
  box-shadow: none;
}

.navbar .sidebar-collapse.active .collapse-icon {
  font-size: 14px;
  padding: 16px 5px 0px 5px;
  box-shadow: none;
}

#navbar-app-name {
  position: relative;
  bottom: 0;
  padding-left: 214px;
  padding-top: 38px;
  text-align: center;
  font-size: 2em;
  color: #ffffff;
  line-height: 28px;
}

body .navbar .navbar-inner .navbar-header .navbar-account .account-area {
  right: 0px;
}

body .navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area {
  padding: 40px 0px 0px 20px;
  height: 75px;
  opacity: 1;
  position: relative;
  cursor: pointer;
}

body .navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area .avatar {
  margin-right: 14px;
  display: block;
  float: left;
  border-left: none;
  width: 29px;
  height: 29px;
}

body .login-area>section {
  padding-top: 0.2em;
  padding-right: 1em;
}

.page-sidebar.menu-compact~.page-content>.page-breadcrumbs {
  padding-left: 181px;
}

body .page-sidebar:before {
  content: "";
  position: fixed;
  display: block;
  width: 219px;
  bottom: 0;
  top: 0;
  left: 5px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}

body .page-sidebar .sidebar-header-wrapper .searchicon {
  cursor: pointer;
  display: inline-block;
  height: 12px;
  left: 15px;
  position: absolute;
  top: 14px;
  width: 12px;
  color: #d56fe7;
  z-index: 124;
}

body .page-sidebar .sidebar-header-wrapper .searchinput {
  height: 41px;
  z-index: 2;
  background-color: #f2f2f2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #f2f2f2;
  padding-left: 40px;
  width: 100%;
}

body .page-sidebar .sidebar-menu li.active>a {
  display: block;
  content: "";
  color: #797979;
  background-color: #e6e6e6;
}

body .page-sidebar .sidebar-menu>li>a:hover {
  border-color: #e6e6e6;
  background-color: #e6e6e6;
}

body .page-sidebar .sidebar-menu a:hover {
  color: #797979;
}

body .page-breadcrumbs {
  overflow: hidden;
  position: relative;
  background: #e6e6e6;
  min-height: 40px;
  line-height: 39px;
  padding: 0;
  display: block;
  z-index: 1;
  -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
  overflow: hidden;
  white-space: nowrap;
}

body .breadcrumb {
  background-color: transparent;
  display: inline-block;
  line-height: 24px;
  margin: 0 22px 0 3px;
  padding: 0;
  font-size: 13px;
  color: #333;
  border-radius: 0;
}

.color-picker {
  padding: 0px !important;
}

@media only screen and (max-width: 760px) {
  body .navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area section {
    display: block;
  }
}

@media only screen and (max-width: 530px) {
  body .navbar {
    height: 121px;
  }

  .navbar-header.pull-left {
    width: 239px;
  }

  .page-sidebar.menu-compact~.page-content>.page-breadcrumbs {
    padding-left: 0;
  }
}

body .page-header {
  background: #ffffff;
}

body .header-buttons i {
  color: #b8b8b8;
}

body .page-header {
  position: relative;
  margin: 0;
  padding-bottom: 1px;
  padding-left: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left, #fff, #f3f3f3);
  background-image: -moz-linear-gradient(left, #fff, #f3f3f3);
  background-image: -o-linear-gradient(left, #fff, #f3f3f3);
  background-image: linear-gradient(to right, #fff, #f3f3f3);
  z-index: 0;
  min-height: 40px;
  border-bottom: 1px solid #e5e5e5;
  height: 40px;
}

body .page-header .header-title h1 {
  font-weight: bold !important;
  color: #ef4130;
  border-bottom: 3px solid #ef4130;
  margin: 0;
  padding: 0 8px;
}

body .page-sidebar .sidebar-menu li:before, body .page-sidebar .sidebar-menu li::before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4px;
  width: 4px;
  max-width: 4px;
  height: 0;
  overflow: hidden;
  background-color: transparent !important;
}

body .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #eee;
  border-color: transparent;
}

body input[type="checkbox"], input[type="radio"] {
  opacity: 1;
  position: relative;
  left: 0;
  z-index: 12;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

body .menu-dropdown img {
  position: relative;
  bottom: 2px;
  margin-right: -1px;
  margin-left: -7px;
}

/* body .main-admincontent .page-body {
  font-size: 1.2em;
  background: #f2f2f2;
  padding: 0;
  margin: auto;
} */

body .page-sidebar.menu-compact .sidebar-menu>li>a.menu-dropdown>.menu-text {
  border: 0;
  top: 0;
  left: 35px;
  width: 195px;
  border-bottom: 1px solid #f3f3f3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 14px;
}

.dropdown-menu-controller {
  display: none;
}

@media only screen and (max-width: 880px) {
  .dropdown-menu-controller {
    display: block;


  }

  .dropdown-menu-controller i {

    color: #4a5ba3 !important;

  }
}

@media only screen and (max-width:530px) {
  .dropdown-menu-controller {
    left: unset !important;
    right: 30px !important;
    top: 0!important;
    height: 76px !important;
    width: 5rem !important;



  }

  .dropdown-menu-controller i {
    padding-top: 25px !important;
  }
}