body .main-admincontent .page-body {
  padding: 15px;
  font-size: 1.2em;
}

.vhidden {
  display: none;
}

body .datepicker {
  z-index: 140 !important;
}

.ul-table-toolbar-container {
  padding: 3px 20px 0 20px;
  background-color: #dddddd;
}

.calendar-toolbar .vertical-spinbox {
  display: inline-block;
}

.calendar-toolbar .vertical-spinbox .btn-value-left, .calendar-toolbar .vertical-spinbox .btn-value-right {
  cursor: pointer;
  vertical-align: middle;
  padding: 7px;
  position: relative;
  overflow: hidden;
}

ul.color-swatch {
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 22px;
  text-align: right;
  list-style: none;
}

ul.color-swatch li {
  display: inline-block;
}

ul.color-swatch .input-color {
  position: relative;
}

ul.color-swatch .input-color span {
  padding-left: 20px;
}

ul.color-swatch .input-color .color-box {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ccc;
  position: absolute;
  left: 5px;
  top: 5px;
}

.calendar-toolbar .vertical-spinbox .input-box {
  display: inline-block;
}

em {
	font-style: normal !important;
}

.calendar-event {
	text-align: left !important;
}

.page-wrapper {
	background: transparent;
	box-shadow: none;
}

.widget,
.widget-body {
	width: 100% !important;
	padding: 0 !important;
}

.input-group input {
	border: 1px solid #84cbd1;
}

@media (max-width: 768px) {
	#page-schedule-calendar div.table-toolbar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	#page-schedule-calendar div.table-toolbar a {
		padding: 7px;
	}
}

#page-schedule-calendar .table-toolbar {
	z-index: 4;
	border: 1px solid #dddddd;
	margin: 0;
	background-color: #dddddd;
	min-height: 36px;
	padding: 0;
	position: relative;
	list-style: none;
	font-size: 12px;
}

@media (max-width: 768px) {
	#page-schedule-calendar .table-toolbar {
		margin: 0;
	}
}

#page-schedule-calendar .table-toolbar li {
	position: relative;
	display: inline-block;
	margin: 5px 20px 5px 0;
}

@media (max-width: 768px) {
	#page-schedule-calendar .table-toolbar li {
		margin: 5px 0;
	}

	#page-schedule-calendar .table-toolbar li:nth-child(3) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	#page-schedule-calendar .table-toolbar li:not(:nth-child(3)) {
		display: none;
	}

	#page-schedule-calendar .table-toolbar li:not(:nth-child(3)).show {
		display: inline-block;
	}
}

#page-schedule-calendar .table-toolbar .input-group {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	bottom: 2px;
}

#page-schedule-calendar .table-toolbar input {
	background-color: #fbfbfb;
	color: #858585;
	padding: 0px 8px;
}

#page-schedule-calendar .table-toolbar input[type="checkbox"] {
	opacity: 1;
	position: relative;
	left: 0;
	vertical-align: middle;
	bottom: 3px;
}

#page-schedule-calendar .table-toolbar input.date-picker {
	width: 210px;
}

@media (max-width: 768px) {
	#page-schedule-calendar .table-toolbar input.date-picker {
		width: 160px;
	}
}

#page-schedule-calendar .table-toolbar::-webkit-input-placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: inherit !important;
	opacity: 1;
	/* Firefox */
}

#page-schedule-calendar .table-toolbar::-moz-placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: inherit !important;
	opacity: 1;
	/* Firefox */
}

#page-schedule-calendar .table-toolbar::-ms-input-placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: inherit !important;
	opacity: 1;
	/* Firefox */
}

#page-schedule-calendar .table-toolbar::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: inherit !important;
	opacity: 1;
	/* Firefox */
}

#page-schedule-calendar .table-toolbar:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: inherit !important;
}

#page-schedule-calendar .table-toolbar::-ms-input-placeholder {
	/* Microsoft Edge */
	color: inherit !important;
}

#page-schedule-calendar .table-toolbar .toolbar-element {
	padding: 3px 20px 0 20px;
}

#page-schedule-calendar .table-toolbar select {
	padding: 0 12px;
	width: 87px;
	height: 32px;
}

#page-schedule-calendar .table-toolbar .vertical-spinbox .btn-value-left,
#page-schedule-calendar .table-toolbar .vertical-spinbox .btn-value-right {
	bottom: 2px;
}

#page-schedule-calendar .calendar-event:not([data-category="publicholiday"]) {
	width: 100%;
	min-width: 180px;
	margin: 2px;
	padding: 10px;
	height: 100%;
}

#page-schedule-calendar
	.calendar-event:not([data-category="publicholiday"])
	.event-name {
	font-size: 1.5rem;
	display: inline-block;
	width: auto;
	color: #1f4c8f;
	margin-bottom: 14px;
	cursor: pointer;
	font-size: 1.5rem;
	display: inline-block;
	width: auto;
	color: #1f4c8f;
	margin-bottom: 14px;
	cursor: pointer;
}

#page-schedule-calendar
	.calendar-event:not([data-category="publicholiday"])
	.event-date {
	font-size: 1.3rem;
	font-weight: 500;
	color: #333333;
	margin-bottom: 7px;
	font-size: 1.3rem;
	font-weight: 500;
	color: #333333;
	margin-bottom: 7px;
}

#page-schedule-calendar
	.calendar-event:not([data-category="publicholiday"])
	.course-details
	* {
	padding: 0;
	margin: 0 0 2px 0;
	font-size: 1.4rem;
	color: #333333;
	padding: 0;
	margin: 0 0 2px 0;
	font-size: 1.4rem;
	color: #333333;
}

#page-schedule-calendar
	.calendar-event:not([data-category="publicholiday"])
	.weekdays {
	font-size: 12px;
}

#page-schedule-calendar
	.calendar-event:not([data-category="publicholiday"])
	.main-teachers
	a {
	display: inline-block;
	color: #333333;
	text-decoration: none;
	display: inline-block;
	color: #333333;
	text-decoration: none;
}

#page-schedule-calendar
	.calendar-event:not([data-category="publicholiday"])
	.main-teachers
	a
	span {
	margin-right: 4px;
	margin-right: 4px;
}

#page-schedule-calendar
	.calendar-event:not([data-category="publicholiday"])
	.sub-teacher
	a {
	display: inline-block;
	color: #333333;
	text-decoration: none;
	display: inline-block;
	color: #333333;
	text-decoration: none;
}

#page-schedule-calendar
	.calendar-event:not([data-category="publicholiday"])
	.room
	a {
	display: inline-block;
	color: #333333;
	text-decoration: none;
	display: inline-block;
	color: #333333;
	text-decoration: none;
}

#page-schedule-calendar
	.calendar-event:not([data-category="publicholiday"])
	.students
	a {
	text-decoration: none;
	text-decoration: none;
}

#page-schedule-calendar
	.calendar-event:not([data-category="publicholiday"])
	.students
	a
	i {
	color: #8d6d54 !important;
	color: #8d6d54 !important;
}

#page-schedule-calendar .students-attend-stat {
	position: absolute;
	color: #333333;
	top: 8px;
	right: 13px;
	position: absolute;
	color: #333333;
	top: 8px;
	right: 13px;
}

#page-schedule-calendar .students-attend-stat [p] {
	color: #0067b0;
	color: #0067b0;
}

#page-schedule-calendar .students-attend-stat [l] {
	color: #0067b0;
	color: #0067b0;
}

#page-schedule-calendar .students-attend-stat [a] {
	color: #eb003c;
	color: #eb003c;
}

#page-schedule-calendar .students-attend-stat [h] {
	color: #eb003c;
	color: #eb003c;
}

#page-schedule-calendar .students-attend-stat [w] {
	color: #333333;
	color: #333333;
}

#page-schedule-calendar .students-attend-stat [n] {
	color: #333333;
	color: #333333;
}

#page-schedule-calendar .students-attend-stat [r] {
	color: #333333;
	color: #333333;
}

#page-schedule-calendar .students [p] {
	color: #0067b0;
	color: #0067b0;
}

#page-schedule-calendar .students [l] {
	color: #0067b0;
	color: #0067b0;
}

#page-schedule-calendar .students [a] {
	color: #eb003c;
	color: #eb003c;
}

#page-schedule-calendar .students [h] {
	color: #eb003c;
	color: #eb003c;
}

#page-schedule-calendar .students [w] {
	color: #333333;
	color: #333333;
}

#page-schedule-calendar .students [n] {
	color: #333333;
	color: #333333;
}

#page-schedule-calendar .students [r] {
	color: #333333;
	color: #333333;
}

#page-schedule-calendar .students [m] {
	text-decoration: line-through;
	text-decoration: line-through;
}

#page-schedule-calendar .calendar-categories {
	display: none;
	display: none;
}

#page-schedule-calendar .calendar-timeline {
	margin-top: 30px !important;
	margin-top: 30px !important;
}

#page-schedule-calendar .event-name {
	margin-bottom: 10px;
	display: inline-block;
	margin-bottom: 10px;
	display: inline-block;
}

#page-schedule-calendar .table-toolbar a {
	cursor: pointer !important;
}

#page-schedule-calendar .table-toolbar input[type="text"] {
	height: 32px !important;
	min-height: 32px !important;
	height: 32px !important;
	min-height: 32px !important;
  width: auto;
}

.schedule-calendar {
	border-collapse: collapse;
	position: relative;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	min-width: 100%;
	min-height: 100%;
}

.schedule-calendar .theading-date th {
	font-weight: 500;
	line-height: 30px;
	background: #e95378;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 20;
}

.schedule-calendar .theading-date th div {
	border: 1px solid #eef0ed;
}

.schedule-calendar .theading-resource th {
	font-size: 14px;
	line-height: 38px;
	border-bottom: none;
	text-align: center;
	text-transform: capitalize;
	font-weight: 500;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 20;
}

.schedule-calendar .theading-resource th:first-child {
	background: #fadcde;
}

.schedule-calendar .theading-resource th:not(:first-child) {
	background: #eee;
}

.schedule-calendar .theading-resource th div {
	border: 2px solid #eef0ef;
}

.schedule-calendar .theading-publicholiday th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 20;
}

.schedule-calendar .theading-publicholiday th:first-child {
	background: #fadcde;
}

.schedule-calendar .theading-publicholiday th:not(:first-child) {
	background: #eee;
}

.schedule-calendar .theading-publicholiday th div {
	background-color: #ffbebc;
	border-radius: 10px;
	margin: 3px 10px;
	line-height: 30px;
	text-align: center;
}

.schedule-calendar tbody tr {
	width: 100%;
}

.schedule-calendar tbody tr[timeline]:not(:last-child) {
	border-top: 2px solid #eef0ef;
}

.schedule-calendar tbody tr[timeline]:last-child {
	border-top: none;
}

.schedule-calendar tbody tr[timeline]:last-child th {
	position: relative;
	bottom: 3px;
}

.schedule-calendar tbody tr th {
	line-height: 0;
	background: #fadcde;
	position: relative;
	max-width: 75px;
	min-width: 75px;
	width: 5%;
}

.schedule-calendar tbody tr th span {
	position: absolute;
	left: 0;
	line-height: 0;
	font-size: 15px;
	text-align: center;
	font-weight: 500;
	z-index: 1;
	top: 18px;
	width: 100%;
}

.schedule-calendar tbody tr:last-child th span {
	display: none;
}

.schedule-calendar tbody tr td {
	position: relative;
  width: 300px;
	height: 4px;
	vertical-align: top;
	background-color: #ffffff;
	border-left: 2px solid #eef0ef;
	border-right: 2px solid #eef0ef;
}

.schedule-calendar tbody tr td .timeslot {
	position: absolute;
	left: 17px;
	line-height: 0;
}

.schedule-calendar tbody tr td.vhidden.has-event {
	display: table-cell;
}

.schedule-calendar tbody tr td a.calendar-event {
	display: inline-block;
	width: 180px;
	text-decoration: none;
	position: relative;
}

.schedule-calendar tbody tr td a.calendar-event[filter-no-results],
.schedule-calendar tbody tr td a.calendar-event[students-no-results] {
	opacity: 0;
}

.schedule-calendar tbody tr td a.calendar-event .event-content .activity {
	border-bottom: 0.5px dashed;
	padding-bottom: 7px;
	margin-bottom: 7px;
}

.schedule-calendar tbody tr td a.calendar-event .course {
	line-height: 22px;
}

.schedule-calendar tbody tr td a.calendar-event .course div i {
	width: 18px;
	height: 18px;
	display: inline-block;
	text-align: center;
}

.schedule-calendar tbody tr td a.calendar-event .course div a {
	line-height: 18px;
}

.schedule-calendar tbody tr td a.calendar-event .course .students a {
	display: inline-block;
}

.schedule-calendar tbody tr td a.calendar-event .event-name {
	cursor: pointer;
}

.schedule-calendar tbody tr td .course-details * {
	font-size: 10px;
}

.schedule-calendar tbody tr td .course-details .title {
	font-weight: 500;
	cursor: pointer;
}

.schedule-calendar tbody tr td .main-teachers,
.schedule-calendar tbody tr td .sub-teacher,
.schedule-calendar tbody tr td .room a {
	line-height: 12px;
	overflow: visible;
	margin-right: 5px;
}

.schedule-calendar .vhidden.has-events.event-td {
	display: table-cell !important;
}

.btn-filter-expand {
	display: none !important;
}

.btn-filter-expand.checked {
	transition: 0.7s;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-ms-transition: 0.7s;
	-o-transition: 0.7s;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

@media (max-width: 768px) {
	.btn-filter-expand {
		display: block !important;
	}
}

.btn-filter-expand #schedule-calendar {
	min-width: 100%;
}

@media (min-width: 767px) and (max-width: 991px) {
	.btn-filter-expand .model-footer a {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.btn-filter-expand #invoice {
		overflow: scroll !important;
	}

	.btn-filter-expand #invoice table {
		min-width: 526px !important;
	}
}

#schedule-calendar .calendar-event button {
	outline: none;
	border: none;
	background: transparent;
	color: #333333;
}

/* #schedule-calendar .calendar-event button:hover {
	opacity: 0.6;
} */

.calendar-event-content {
    height: 100%;
}

.has-events.indented {
    height: 200.54px !important;
}
/* .has-events.indented .calendar-event-content {
    height: 254px !important;
} */

.has-events.indented .calendar-event-content:after {
    content: "\f054";
    font-family: 'FontAwesome';
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 14px;
    margin-bottom: 5px;
}

.has-events.indented:hover .calendar-event {
    opacity: 1;
    z-index: 1;
}

.has-events.indented:hover .calendar-event .calendar-event-content:after {
    display: none;
}