
.theading-resource {
  display: none;
}
.calendar-event-content .event-content .course {
	display: inline-block;
}
.calendar-event-content .more-detail {
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}