.member-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.member-list li {
	width: 100%;
	display: block;
	margin: 0 0 2px 0;
	padding: 0px;
	float: left;
}

.member-list li img {
	/*width:150px;
	height:150px;*/
	display: block;
	z-index: 0;
	position: relative;
	top: 0;
}

#content-list, #content-list-image, #content-list-text, #content-list-link,#content-list-tag, #content-list-hyperlink, #content-list-row-description,#content-list-video {
	list-style: none;
	padding: 0;
	margin: 0;
}

#content-list, #content-list-image, #content-list-text, #content-list-link li {
	width: 100%;
	display: block;
	margin: 0 0 2px 0;
	padding: 0px;
	float: left;
}

#content-list, #content-list-image, #content-list-text, #content-list-link li img {
	/*width:150px;
	height:150px;*/
	display: block;
	z-index: 0;
	position: relative;
	top: 0;
}

.handle {
	width: 15px;
	height: 15px;
	background: #C00;
	cursor: move;
}

.sub-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sub-handle {
	width: 15px;
	height: 15px;
	background: #C00;
	cursor: move;
}

.green_handle {
	width: 15px;
	height: 15px;
	background: #060;
	cursor: move;
}